<form class="{{cssClass}} form-path flexcol" autocomplete="off">
    {{!-- Header --}}
    <header class="item-header flexcol">
        <div class="item-wrapper">
            <img class="image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="item-wrapper">
            <div class="name-wrapper">
                <input name="name" class="name" type="text" value="{{item.name}}"
                    placeholder="{{localize 'QUEST.PathName'}}" />
            </div>
        </div>
    </header>
    {{!-- Header End --}}
    {{!-- Body Start--}}
    <div class="item-body flexcol">
        {{!-- General Start --}}
        <div class="item-section flexcol" id="abilities">
            <div class="section-wrapper">
                <div class="section-header">
                    {{localize 'QUEST.Abilities'}}
                </div>
                <div class="filter-ability flexrow" id="filter-ability">
                    <div id="autocomplete"></div>
                    <input type="text" autofocus="true" name="filter" placeholder="{{localize 'QUEST.SearchAbilities'}}"
                        class="ability-filter" id="filter"></input>
                    <div class="plus" id="adder-ability"></div>
                </div>
                <ul class="abilities-list flexcol" id="abilities-list">
                    {{#each abilities as | ability |}}
                    <li class="ability item flexrow" data-index="{{@index}}" data-id="{{@ability._id}}">
                        <div class="drag-bars">
                        </div>
                        <div class="ability-name">{{ability.name}}</div>
                        <div class="options flexrow">
                            <div class="delete-ability"></div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{!-- Body End--}}
</form>