<div class="chat ability-roll">
    <div class="roll-total">{{roll.total}}</div>
    {{#if legendary}}
    <div class="legendary"><img src="systems/quest/icons/legendary.gif" alt="legendary"></div>
    {{/if}}

    {{#if isTriumph}}
    <div class="status triumph">TRIUMPH</div>
    {{/if}}

    {{#if isSuccess}}
    <div class="status success">SUCCESS</div>
    {{/if}}

    {{#if isToughChoice}}
    <div class="status tough-choice">TOUGH CHOICE</div>
    {{/if}}

    {{#if isFailure}}
    <div class="status tough-choice">FAILURE</div>
    {{/if}}

    {{#if isCatastrophe}}
    <div class="status catastrophe">CATASTROPHE</div>
    {{/if}}
    <div class="ability-name">{{abilityName}}</div>
    <div class="flavor">
        {{breaklines resultFlavor}}
    </div>
</div>