<div class="quest chat-card generic-roll" data-actor-id="{{actor._id}}">
    <div class="roll flexcol">
        <div class="roll-total">{{roll.total}}</div>
    </div>
   
    {{#if isTriumph}}
    <div class="status triumph">{{localize 'QUEST.Triumph'}}</div>
    <div class="flavor">{{actor.name}} {{localize 'QUEST.TriumphFlavor'}}</div>
    {{/if}}

    {{#if isSuccess}}
    <div class="status success">{{localize 'QUEST.Success'}}</div>
    <div class="flavor">{{actor.name}} {{localize 'QUEST.SuccessFlavor'}}</div>
    {{/if}}

    {{#if isToughChoice}}
    <div class="status tough-choice">{{localize 'QUEST.ToughChoice'}}</div>
    <div class="flavor">{{actor.name}} {{localize 'QUEST.ToughChoiceFlavor'}}</div>
    {{/if}}

    {{#if isFailure}}
    <div class="status tough-choice">{{localize 'QUEST.Failure'}}</div>
    <div class="flavor">{{actor.name}} {{localize 'QUEST.FailureFlavor'}}</div>
    {{/if}}

    {{#if isCatastrophe}}
    <div class="status catastrophe">{{localize 'QUEST.Catastrophe'}}</div>
    <div class="flavor">{{actor.name}} {{localize 'QUEST.CatastropheFlavor'}}</div>
    {{/if}}
</div>