<div class="ability-info-container flexcol">
    <div class="ability-header">
        <div class="ability-description">
            <div class="ability-name">{{ability.name}}</div>
        </div>
        <div class="send-to-chat-info" data-item-id={{ability.id}}>
            <i class="fas fa-bullhorn"></i>
        </div>
    </div>
    <div class="section">
        {{#if ability.legendary}}
        <div class="legendary">LEGENDARY</div>
        {{/if}}
        <div class="description">{{breaklines ability.description}}</div>
        {{#each ability.effects as |effect| }}
        <div class="ability-effect flexcol">
            <div class="ability flexcol">
                <div class="effect-header flexcol">
                    <div class="effect-name">
                        {{effect.name}}
                    </div>
                    <div class="cost">{{effect.cost}} AP</div>
                </div>
                <div class="description">
                    {{breaklines effect.description}}
                </div>
                {{#if effect.roll}}
                <div class="effects">
                    <div class="row-header">Roll the Die</div>
                    <div class="effect-ranges">
                        {{#each effect.ranges as |range| }}
                        <div class="ability-info-ranges flexrow">
                            <div class="ability-info-range">{{range.min}} - {{range.max}}</div>
                            <div class="effect-description">
                                {{range.description}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>