<form class="effects" autocomplete="off" onsubmit="event.preventDefault();">
    {{!-- Header --}}
    <header class="item-header flexcol">
        <img class="item-image" src="{{data.img}}" title="{{item.name}}" data-edit="img" />
        <input type="hidden" name="img" class="image-url" id="image-value" value="{{data.img}}">
        <h1 class="header">
            <input name="name" class="item-name" type="text" value="{{data.name}}"
                placeholder="{{localize 'QUEST.EffectName'}}" />
        </h1>
    </header>
    {{!-- Header End --}}

    {{!-- Body --}}
    <div class="section">
        <h1 class="section-header">Effect Cost</h1>
        <div class="field-group">
            <label for="data.variablecost" class="item-label">Variable Cost</label>
            {{#if data.variablecost}}
            <input type="checkbox" name="variablecost" value=true checked="">
            {{else}}
            <input type="checkbox" name="variablecost" value=true>
            {{/if}}
        </div>
        <div class="field-group">
            <label class="item-label" for="spellcost">Action Point Cost</label>
            <input name="spellcost" type="number" class="spellcost" placeholder="0" value="{{data.spellcost}}">
        </div>
    </div>
    <div class="section">
        <h1 class="section-header">
            Descriptions
        </h1>
        <div class="field-group">
            <label class="item-label" for="full">Full Description</label>
            <textarea name="full" class="description" placeholder="Description">{{data.description.full}}</textarea>
        </div>
        <div class="field-group">
            <label class="item-label" for="chat">Chat Description</label>
            <textarea name="chat" class="description"
                placeholder="Chat Description">{{data.description.chat}}</textarea>
        </div>
    </div>

    <div class="section flexcol">
        <h1 class="section-header">
            Roll Ranges
        </h1>

        <div class="adder-range">
            + Add Range
        </div>

        <ul class="range-list flexcol">
            {{#each data.ranges as | range index |}}
            <li class="range item flexrow" data-index="{{index}}">
                {{range.name}}
                <div class="options flexrow">
                    <div class="config"><i class="fas fa-cog"></i></div>
                    <div class="delete"><i class="far fa-trash-alt"></i></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{!-- Body End --}}
    <div class="buttons flexrow">
        <button type="submit" class="submit" name="submit" value="1"><i class="far fa-save"></i>
            {{ localize "QUEST.Save"}}</button>
        <button type="submit" class="cancel" name="cancel" value="1"><i class="fas fa-ban"></i>
            {{ localize "QUEST.Cancel"}}</button>
    </div>
</form>