<form class="paths" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="section">
        <h1 class="section-header">
            {{localize 'QUEST.AvailableLearningPaths'}}
        </h1>
        <div class="filter">
            <input type="text" name="filter" class="filter-paths" id="filter-paths" placeholder="{{localize 'QUEST.FilterPaths'}}">
        </div>
    </div>
    <ul class="path-list" id="path-list">
        {{#each choices as |choice|}}
        <li class="path-choice">
            <label class="checkbox item-label" for="{{choice.id}}">
                <input type="checkbox" name="{{choice.id}}" value="{{choice.id}}" {{checked choice.chosen}}>
                {{choice.label}}
            </label>
        </li>
        {{/each}}
    </ul>
    <button type="submit" class="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "QUEST.Save"}}</button>
</form>