<form class="ranges" autocomplete="off" onsubmit="event.preventDefault();">
    {{!-- Header --}}
    <header class="item-header flexrow">
        <h1 class="header">
            <input name="name" class="item-name" type="text" value="{{data.name}}"
                placeholder="{{localize QUEST.RangeName}}" />
        </h1>
    </header>
    {{!-- Header End --}}

    {{!-- Body --}}
    <div class="section">
        <h1 class="section-header">
           Descriptions
        </h1>
        <div class="field-group">
            <label class="item-label" for="full">Full Description</label>
            <textarea name="full" class="description"
            placeholder="Description">{{data.description.full}}</textarea>
        </div>
        <div class="field-group">
            <label class="item-label" for="chat">Chat Description</label>
            <textarea name="chat" class="description"
            placeholder="Chat Description">{{data.description.chat}}</textarea>
        </div>
    </div>

    <div class="section">
        <h1 class="section-header">
            Roll Ranges
        </h1>

        <div class="min-max flexrow">
            <div class="field-group flexrow">
                <label class="item-label" for="min">Min</label>
                <input name="min" type="number" class="minimum" max="20" min="0" placeholder="0" value="{{data.min}}">
            </div>
      
            <div class="seperator">TO</div>
    
            <div class="field-group flexrow">
                <label class="item-label" for="data.max">Max</label>
                <input name="max" type="number" class="maximum" max="20" min="0" placeholder="0" value="{{data.max}}">
            </div>
        </div>
    </div>
    {{!-- Body End --}}
    <div class="buttons flexrow">
        <button type="submit" class="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "QUEST.Save"}}</button>
        <button type="submit" class="cancel" name="cancel" value="1"><i class="fas fa-ban"></i> {{ localize "QUEST.Cancel"}}</button>
    </div>
</form>