<form class="roles" autocomplete="off" onsubmit="event.preventDefault();">
    <ul class="role-list">
        {{#each choices as |choice|}}
        <li class="role-selector">
            <label class="checkbox flexrow" for="{{choice.id}}">
                <input type="checkbox" name="{{choice.id}}" value="{{choice.id}}" {{checked choice.chosen}}>
                {{choice.label}}
                <div class="options flexrow" data-item-id="{{choice.id}}">
                    <div class="role-info"><i class="fas fa-info-circle"></i></div>
                </div>
            </label>
        </li>
        {{/each}}
    </ul>
    <button type="submit" class="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "QUEST.Save"}}</button>
</form>