<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Ability Header --}}
    <header class="item-header flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
    </header>
    <div class="ability-body flexrow">
        <div class="item-group legendary flexrow">
            <div class="label">
                <label class="item-label" for="data.legendary">Legendary Ability?</label>
            </div>
            {{#if data.legendary}}
                <input type="checkbox" name="data.legendary" value=true checked="">
            {{else}}
                <input type="checkbox" name="data.legendary" value=true>
            {{/if}}
        </div>
    </div>
    {{!-- Ability Body --}}
    <div class="ability-body flexcol">
        <div class="label flexrow">
            <label class="item-label" for="data.effects">Effects</label>
            <div class="item-info" title="To add effectss, drag and drop from the item list or compendium.">
                <i class="fas fa-info-circle"></i></div>
        </div>
        <div class="adder" id="effects"><i class="fas fa-plus"></i> Add Effect</div>
        <div class="item-group">
            <ul class="item-effects">
                {{#each displayEffects as | effect index |}}
                <li class="effect item flexrow" data-item-id="{{index}}">{{effect.name}} <div class="options"><i
                            class="fas fa-trash-alt item-delete"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>