<form class="{{cssClass}} ability-builder flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    {{!-- Header --}}
    <header class="item-header flexcol">
        <img class="item-image" src="{{data.img}}" title="{{data.name}}" data-edit="img" />
        <h1 class="header">
            <input name="name" class="item-name" type="text" value="{{data.name}}"
                placeholder="{{localize 'QUEST.AbilityName'}}" />
        </h1>
    </header>
    {{!-- Header End --}}

    {{!-- Body --}}
    <div class="section">
        {{!-- Steps --}}
        <div class="steps">
            {{!-- Step 1 --}}
            <div class="step flexcol" data-step="1">
                <h1 class="progress-header">
                    {{localize 'QUEST.General'}}
                </h1>
                <div class="section">
                    <div class="field-group flexrow">
                        <label for="legendary" class="item-label">{{localize 'QUEST.Legendary'}}</label>
                        <div class="tooltip">
                            <i class="far fa-question-circle"></i>
                            <span class="tooltiptext">
                                {{localize 'QUEST.LegendaryToolTip'}}
                            </span>
                        </div>
                        <input type="checkbox" name="legendary" value="true" {{#if data.legendary}}checked=""
                            {{/if}}>
                    </div>
                </div>
            </div>
            {{!-- Step 1 End --}}
            {{!-- Step 2 --}}
            <div class="step flexcol" data-step="1">
                <div class="section">
                    <h1 class="progress-header">
                        {{localize 'QUEST.Descriptions'}}
                    </h1>
                    <div class="field-group">
                        <label class="item-label" for="full">{{localize 'QUEST.FullDescription'}}</label>
                        <textarea name="full" class="description"
                            placeholder="{{localize 'QUEST.PlaceholderFullDescription'}}">{{data.data.description.full}}</textarea>
                    </div>
                    <div class="field-group">
                        <label class="item-label" for="chat">{{localize 'QUEST.ChatDescription'}}</label>
                        <textarea name="chat" class="description"
                            placeholder="{{localize 'QUEST.PlaceholderChatDescription'}}">{{data.data.description.chat}}</textarea>
                    </div>
                </div>
            </div>
            {{!-- Step 2 End --}}
            {{!-- Step 3 --}}
            <div class="step flexcol" data-step="2">
                <h1 class="progress-header">
                    {{localize 'QUEST.Effects'}}
                </h1>

                <div class="adder-effect">
                    <i class="fas fa-plus"></i> {{localize 'QUEST.AddEffect'}}
                </div>

                <ul class="effect-list">
                    {{#each data.data.effects as | effect index |}}
                    <li class="effect item flexrow" data-index="{{index}}">
                        {{effect.name}}
                        <div class="options flexrow">
                            <div class="config"><i class="fas fa-cog"></i></div>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            {{!-- Step 3 End --}}
        </div>
        {{!-- Steps End --}}
    </div>
    {{!-- Body End --}}
    <button type="submit" class="submit" name="submit" value="1"><i class="far fa-save"></i>
        {{ localize "QUEST.Save"}}</button>
</form>