<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Ability Header --}}
    <header class="ability-header">
        <h1 class="header">
            <input name="name" class="ability-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'QUEST.AbilityName'}}" />
        </h1>
    </header>
    <div class="ability-body flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="item-group legendary flexrow">
            <label class="label" for="data.legendary">Legendary Ability?</label>
            {{#if data.legendary}}
                <input type="checkbox" name="data.legendary" value=true checked="">
            {{else}}
                <input type="checkbox" name="data.legendary" value=true>
            {{/if}}
        </div>
    </div>
    {{!-- Ability Body --}}
    <div class="ability-body flexcol">
        <div class="explanation">Drag and drop effects onto "+ Add Effect."</div>
        <label class="label">Effects</label>
        <div class="adder" id="effects"><i class="fas fa-plus"></i> Add Effect</div>
        <div class="item-group">
            <ul class="item-effects">
                {{#each displayEffects as | effect index |}}
                <li class="effect item flexrow" data-item-id="{{index}}">{{effect.name}} <div class="options"><i
                            class="fas fa-trash-alt item-delete"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>