<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Effect Header --}}
    <header class="item-header">
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
    </header>
    <div class="explanation">Effects are the ability description, or in certain cases part of the ability description if
        there are multiple effects available.</div>
    {{!-- Effect Body --}}
    <label class="label" for="data.description.value">Description</label>
    <textarea name="data.description.value" class="description"
        placeholder="Description">{{data.description.value}}</textarea>
    <label class="label" for="data.description.chat">Chat Text</label>
    <textarea name="data.description.chat" class="chat" placeholder="Chat Text">{{data.description.chat}}</textarea>
    <div class="item-group flexrow">
        <label class="label" for="data.spellcost">Action Point Cost</label>
        <input name="data.spellcost" type="number" class="cost" placeholder="0" value="{{data.spellcost}}">
    </div>
    <div class="explanation">Drag and drop ranges onto "+ Add Range." If your range does not appear, make sure it is of
        item type "range."</div>
    <label class="label" for="data.ranges">Ranges</label>
    <div class="adder" id="ranges"><i class="fas fa-plus"></i> Add Range</div>
    <div class="item-group">
        <ul class="item-ranges">
            {{#each displayRanges as | range index |}}
            <li class="range item flexrow" data-item-id="{{index}}"><div class="options">{{range.name}} <i class="fas fa-trash-alt item-delete"></i></div>
            </li>
            {{/each}}
        </ul>
    </div>
</form>