<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Effect Header --}}
    <header class="item-header flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
        <div class="item-info"
            title="Effects are what the ability does. Every ability will have an effect, but some may have more than one.">
            <i class="fas fa-info-circle"></i></div>
    </header>
    <div class="effect-cost">
        <div class="item-group sc flexrow">
            <label class="label" for="data.spellcost">Action Point Cost</label>
            <input name="data.spellcost" type="number" class="spellcost" placeholder="0" value="{{data.spellcost}}">
        </div>
        <div class="item-group sc flexrow">
            <div class="label flexrow">
                <label class="item-label" for="data.spellcost">Variable Cost?</label>
                <div class="item-info" title="Some effects may accept any amount of AP.">
                    <i class="fas fa-info-circle"></i></div>
            </div>
            {{#if data.variableCost}}
            <input type="checkbox" name="data.variableCost" value=true checked="">
            {{else}}
            <input type="checkbox" name="data.variableCost" value=true>
            {{/if}}
        </div>
    </div>
    {{!-- Effect Body --}}
    <div class="label flexrow">
        <label class="item-label" for="data.effectFlavorName">Effect Flavor Name</label>
        <div class="item-info"
            title="The effect flavor name is what is displayed in a character's ability list if there is more than one effect.">
            <i class="fas fa-info-circle"></i></div>
    </div>
    <input name="data.effectFlavorName" type="text" class="effect-flavor-name" value="{{data.effectFlavorName}}"
        placeholder="Effect Flavor Name" />
    <label class="label" for="data.description.value">Description</label>
    <textarea name="data.description.value" class="description"
        placeholder="Description">{{data.description.value}}</textarea>
    <label class="label" for="data.description.chat">Chat Text</label>
    <textarea name="data.description.chat" class="chat" placeholder="Chat Text">{{data.description.chat}}</textarea>

    <div class="label flexrow">
        <label class="item-label" for="data.ranges">Ranges</label>
        <div class="item-info" title="To add ranges, drag and drop from the item list or compendium.">
            <i class="fas fa-info-circle"></i></div>
    </div>
    <div class="adder" id="ranges"><i class="fas fa-plus"></i> Add Range</div>
    <div class="item-group">
        <ul class="item-ranges">
            {{#each displayRanges as | range index |}}
            <li class="range item flexrow" data-item-id="{{index}}">
                {{range.name}} <div class="options"><i
                    class="fas fa-trash-alt item-delete"></i></div>
            </li>
            {{/each}}
        </ul>
    </div>
</form>