<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Header --}}
    <header class="item-header flexcol">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="header flexrow">
            <input name="name" class="item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'QUEST.PathName'}}" />
        </h1>
    </header>
    {{!-- Header End --}}
    {{!-- Body --}}
    <div class="section flexcol">
        <h1 class="section-header">
            {{localize 'QUEST.Abilities'}}
        </h1>
        <div class="adder-abilities" id="abilities"><i class="fas fa-plus"></i> {{localize 'QUEST.AddAbility'}}</div>
        <ul class="abilities-list" id="abilities-list">
            {{#each displayAbilities as | ability |}}
            <li class="ability item flexrow" data-item-id="{{ability.id}}">
                <div class="drag-bars">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="index">{{ ability.order }}</div> {{ability.name}} <div class="options flexrow">
                    <div class="delete"><i class="fas fa-trash-alt item-delete"></i></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{!-- Body End--}}
</form>