<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Path Header --}}
    <header class="path-header">
        <h1 class="header">
            <input name="name" class="path-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'QUEST.PathName'}}" />
        </h1>
    </header>
    {{!-- Path Body --}}
    <div class="path-body flexcol">
        <div class="explanation">Drag and drop abilities onto "+ Add Ability." If your ability does not appear, make sure it is
            of item type "ability."</div>
            <div class="explanation">Paths have an order to them. To rearrange the order, drag and drop the abilities to their correct order.</div>
        <label class="label">Abilities</label>
        <div class="adder" id="abilities"><i class="fas fa-plus"></i> Add Ability</div>
        <div class="item-group">
            <ul class="item-abilities" id="item-abilities">
                {{#each displayAbilities as | ability |}}
                <li class="ability item flexrow" data-item-id="{{ability.id}}"><div class="index">{{ ability.order }}</div> {{ability.name}} <div class="options"><i
                            class="fas fa-trash-alt item-delete"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>