<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Range Header --}}
    <header class="item-header flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
        <div class="item-info"
            title="Ranges are utilized by effects. They represent potential outcomes when an effect requires a die roll.">
            <i class="fas fa-info-circle"></i></div>
    </header>
    {{!-- Ranges Body --}}
    <label class="label" for="data.description.value">Description</label>
    <textarea name="data.description.value" class="description" placeholder="Description">{{data.description.value}}</textarea>
    <label class="label" for="data.description.chat">Chat Text</label>
    <textarea name="data.description.chat" class="chat" placeholder="Chat Text">{{data.description.chat}}</textarea>
    <div class="item-group flexrow">
        <div class="flexcol">
            <label class="label" for="data.min">Minimum</label>
            <input name="data.min" type="number" class="minimum" max="20" min="0" placeholder="0" value="{{data.min}}">
        </div>
        <div class="range-value flexcol">
            <label class="label" for="data.max">Maximum</label>
            <input name="data.max" type="number" class="maximum" max="20" min="0" placeholder="20" value="{{data.max}}">
        </div>
    </div>
</form>