<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Role Header --}}
    <header class="item-header flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
        <div class="item-info" title="Roles are the class archetypes of Quest.">
            <i class="fas fa-info-circle"></i></div>
    </header>
    {{!-- Role Body --}}
    <label class="label" for="data.description.value">Description</label>
    <textarea name="data.description.value" class="description"
        placeholder="Description">{{data.description.value}}</textarea>
    <label class="label" for="data.description.chat">Chat Text</label>
    <textarea name="data.description.chat" class="chat" placeholder="Chat Text">{{data.description.chat}}</textarea>
    <div class="label flexrow">
        <label class="item-label" for="data.paths">Paths</label>
        <div class="item-info" title="To add paths, drag and drop from the item list or compendium.">
            <i class="fas fa-info-circle"></i></div>
    </div>
    <div class="adder" id="paths"><i class="fas fa-plus"></i> Add Learning Paths</div>
    <div class="item-group">
        <ul class="item-paths">
            {{#each displayPaths as | path index |}}
            <li class="path item flexrow" data-type-delete="path" data-item-id="{{index}}">{{path.name}} <div
                    class="options"><i class="fas fa-trash-alt item-delete"></i></div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="legandaries">
        <div class="label flexrow">
            <label class="item-label" for="data.paths">Legendary Abilities</label>
            <div class="item-info" title="To add legendary abilities, drag and drop from the item list or compendium.">
                <i class="fas fa-info-circle"></i></div>
        </div>
        <div class="adder" id="abilities"><i class="fas fa-plus"></i> Add Legendary Ability</div>
        <div class="item-group">
            <ul class="item-paths">
                {{#each displayAbilities as | ability index |}}
                <li class="path item flexrow" data-type-delete="ability" data-item-id="{{index}}">{{ability.name}} <div
                        class="options"><i class="fas fa-trash-alt item-delete"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>