<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Role Header --}}
    <header class="role-header">
        <h1 class="header">
            <input name="name" class="item-header item-name" type="text" value="{{item.name}}"
                placeholder="{{localize 'Name'}}" />
        </h1>
    </header>
    <div class="explanation">Roles are the class archetypes of Quest.</div>
    {{!-- Role Body --}}
    <label class="label" for="data.description.value">Description</label>
    <textarea name="data.description.value" class="description"
        placeholder="Description">{{data.description.value}}</textarea>
    <label class="label" for="data.description.chat">Chat Text</label>
    <textarea name="data.description.chat" class="chat" placeholder="Chat Text">{{data.description.chat}}</textarea>
    <div class="explanation">Drag and drop paths onto "+ Add Path." If your path does not appear, make sure it is of
        item type "path."</div>
    <label class="label" for="data.paths">Paths</label>
    <div class="adder" id="paths"><i class="fas fa-plus"></i> Add Path</div>
    <div class="item-group">
        <ul class="item-paths">
            {{#each displayPaths as | path index |}}
            <li class="path item flexrow" data-item-id="{{index}}">{{path.name}} <div class="options"><i class="fas fa-trash-alt item-delete"></i></div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="legandaries">
        <div class="explanation">Drag and drop paths onto "+ Add Abilities." If your ability does not appear, make sure it is of
            item type "ability."</div>
        <label class="label" for="data.paths">Legendary Abilities</label>
        <div class="adder" id="abilities"><i class="fas fa-plus"></i> Add Legendary Ability</div>
        <div class="item-group">
            <ul class="item-paths">
                {{#each displayAbilities as | ability index |}}
                <li class="path item flexrow" data-item-id="{{index}}">{{ability.name}} <div class="options"><i class="fas fa-trash-alt item-delete"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>