<div class="biography flexcol flex1">
    {{!-- Biography Upper --}}
    <div class="biography-section-upper flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <div class="profile-section flexcol">
            <div class="descriptor-section">
                Hi, my name is <input name="name" type="text" value="{{actor.name}}" class="name" placeholder="Name"/> <br/> (<input name="data.description.pronouns" type="text" class="pronouns" value="{{data.description.pronouns}}" placeholder="Pronouns" />).
            </div>
            <div class="descriptor-section">
                I'm <input name="data.description.age" type="text" class="age" value="{{data.description.age}}" placeholder="Age" /> years old and stand <input name="data.description.height" type="text" class="height" value="{{data.description.height}}" placeholder="height" /> tall.
            </div>
            <div class="descriptor-section">
                I'm the party's
                <input name="data.description.role" type="text" class="role" value="{{data.description.role}}" placeholder="Role" />.
            </div>
        </div>
    </div>
    {{!-- Biography Upper End --}}

    {{!-- Biography Lower --}}
    <div class="biography-section-lower">
        <div class="descriptor-section-lower">
            When people see me they first notice my
            <input name="data.description.feature-1" type="text" class="feature" value="{{data.description.feature-1}}" placeholder="Feature" />,
            <input name="data.description.feature-2" type="text" class="feature" value="{{data.description.feature-2}}" placeholder="Feature" />,
            and
            <input name="data.description.feature-3" type="text" class="feature" value="{{data.description.feature-3}}" placeholder="Feature" />.
        </div>
    
        <div class="descriptor-section-lower">
            I wear
            <input name="data.description.style-1" type="text" class="style" value="{{data.description.style-1}}"
                placeholder="Style" />,
            <input name="data.description.style-2" type="text" class="style" value="{{data.description.style-2}}"
                placeholder="Style" />, and move with
            <input name="data.description.movement" type="text" class="movement" value="{{data.description.movement}}"
                placeholder="Movement" />.
        </div>
    
        <div class="descriptor-section-lower">
            I'm from
            <input name="data.description.home" type="text" class="home" value="{{data.description.home}}" placeholder="Home" />
            where my people are known for
            <input name="data.description.community" type="text" class="community" value="{{data.description.community}}"
                placeholder="Community" />.
        </div>
    
        <div class="descriptor-section-lower">
            I believe in
            <input name="data.description.ideal" type="text" class="ideal" value="{{data.description.ideal}}" placeholder="Ideal" />,
            but my
            <input name="data.description.flaw" type="text" class="flaw" value="{{data.description.flaw}}" placeholder="Flaw" />
            side can get in my way.
        </div>
    
        <div class="descriptor-section-lower">
            I dream of
            <textarea name="data.description.dream" class="dream" placeholder="Dream">{{data.description.dream}}</textarea>
        </div>
    </div>
    {{!-- Biography Lower End --}}
</div>