<div class="madlibs flexrow">
    <p class="madlib-section">
        Hi, my name is
        <input name="data.description.name" type="text" value="{{data.description.name}}" placeholder="Name" />
        (<input name="data.description.alias" type="text" value="{{data.description.alias}}" placeholder="Alias" />).
    </p>

    <p class="madlib-section">
        I'm
        <input name="data.description.age" type="text" value="{{data.description.age}}" placeholder="Age" />
        years old and stand
        <input name="data.description.height" type="text" value="{{data.description.height}}" placeholder="height" />
        tall.
    </p>

    <p class="madlib-section">
        I'm the party's
        <input name="data.description.role" type="text" value="{{data.description.role}}" placeholder="Role" />.
    </p>

    <p class="madlib-section">
        When people see me they first notice my
        <input name="data.description.trait-1" type="text" value="{{data.description.trait-1}}" placeholder="Trait" />,
        <input name="data.description.trait-2" type="text" value="{{data.description.trait-2}}" placeholder="Trait" />,
        and
        <input name="data.description.trait-3" type="text" value="{{data.description.trait-3}}" placeholder="Trait" />.
    </p>

    <p class="madlib-section">
        I wear
        <input name="data.description.clothing-1" type="text" value="{{data.description.clothing-1}}"
            placeholder="Outfit" />,
        <input name="data.description.clothing-2" type="text" value="{{data.description.clothing-2}}"
            placeholder="Outfit" />, and move with
        <input name="data.description.movement" type="text" value="{{data.description.movement}}"
            placeholder="Movement" />.
    </p>

    <p class="madlib-section">
        I'm from
        <input name="data.description.origin" type="text" value="{{data.description.origin}}" placeholder="Origin" />
        where my people are known for
        <input name="data.description.heritage" type="text" value="{{data.description.heritage}}"
            placeholder="Heritage" />.
    </p>

    <p class="madlib-section">
        I believe in
        <input name="data.description.belief" type="text" value="{{data.description.belief}}" placeholder="Belief" />,
        but my
        <input name="data.description.flaw" type="text" value="{{data.description.flaw}}" placeholder="Flaw" />
        side can get in my way.
    </p>

    <p class="madlib-section">
        I dream of
        <input name="data.description.dream" type="text" value="{{data.description.dream}}" placeholder="Dream" />
    </p>
</div>