<div class="abilities-section flexcol">
    {{#if data.charroles}}
    <div class="roles">
        <div class="role-selector flexrow">
            <label class="character-label-color" for="world.roles">{{localize 'QUEST.Roles'}} </label>
            <div class="adder-plus"><i class="fas fa-plus"></i></div>
        </div>
        <div class="ability-section">
            <ul class="role-list flexrow">
                {{#each displayRoles as | role |}}
                <li class="role-item item flexrow" data-item-id="{{role.id}}">{{role.name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    {{#if data.charroles}}
    <div class="ability-selector flexrow">
        <label class="character-label-color" for="world.abilities">{{localize 'QUEST.Abilities'}}</label>
        <div class="adder-plus"><i class="fas fa-plus"></i></div>
    </div>
    {{/if}}
    {{#if data.quirk}}
    <div class="ability-selector-quirk flexrow">
        <div class="adder-quirk"><i class="fas fa-plus"></i></div>
        <label class="character-label">Quirk</label>
    </div>
    {{/if}}
    {{#if data.norole}}
    <div class="ability-selector-all flexrow">
        <label class="character-label-color" for="world.abilities">{{localize 'QUEST.Abilities'}}</label>
        <div class="adder-plus"><i class="fas fa-plus"></i></div>
    </div>
    {{/if}}

    <ul class="abilities-list flexcol">
        {{#each displayAbilities as | ability |}}
        {{#if ability.multi}}
        <li class="ability item flexcol" data-item-id="{{ability.id}}">
            <div class="flexrow">
                <div class="ability-name-toggle flexrow" id="toggle-off-{{ability.id}}" data-item-id="{{ability.id}}">
                    <div class="expander">
                        <i class="far fa-plus-square"></i>
                    </div>
                    <label class="character-label-dark ability-expand">{{ability.name}}</label>
                </div>
                <div class="ability-name-toggle flexrow hide" id="toggle-on-{{ability.id}}" data-item-id="{{ability.id}}">
                    <div class="expander">
                        <i class="far fa-minus-square"></i>
                    </div>
                    <label class="character-label-dark ability-expand">{{ability.name}}</label>
                </div>
                <div class="ability-info" data-item-id={{ability.id}}>
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="send-to-chat-default" data-item-id={{ability.id}}>
                    <i class="fas fa-bullhorn"></i>
                </div>
            </div>
            <ul class="effects effects-expand flexcol hide" id="effects-{{ability.id}}">
                {{#each ability.effects as |effect index|}}
                <li class="effect item flexrow">
                    <div class="name-header flexrow">
                        <div class="cost">{{effect.cost}}</div>
                        <div class="ability-name flexrow">
                            <label class="character-label-dark">{{effect.name}}</label>
                        </div>
                    </div>
                    {{#if effect.roll}}
                    <div class="roll-ability" data-item-id={{index}} data-ability-name={{ability.name}} data-ability-id={{ability.id}}>
                        <i class="fas fa-dice-d20"></i>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </li>
        {{else}}
        {{#each ability.effects as |effect|}}
        <li class="ability item flexrow" data-item-id={{effect.id}} data-ability-id={{ability.id}} data-ability-name={{ability.name}}>
            <div class="name-header flexrow">
                <div class="cost">{{ability.cost}}</div>
                <div class="ability-name flexrow">
                    <label class="character-label-dark">{{ability.name}}</label>
                </div>
            </div>
            {{#if effect.roll}}
            <div class="roll-ability" data-item-id={{effect.id}} data-ability-id={{ability.id}}>
                <i class="fas fa-dice-d20"></i>
            </div>
            {{/if}}
            <div class="ability-info" data-item-id={{ability.id}}>
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="send-to-chat-default" data-item-id={{ability.id}}>
                <i class="fas fa-bullhorn"></i>
            </div>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
    </ul>
</div>