<ol id="inventory-list">
    {{#each displayInventory as | item | }}
    <li class="inventory-slot flexrow">
        {{#if item.association}}
        <div class="inventory-item flexrow">
            <div class="counter"></div>
            <div class="gear-name">{{item.name}}</div>
            <div class="options flexrow">
                <div class="edit-gear" data-index="{{@index}}"><i class="fas fa-cog"></i></div>
                <div class="inventory-delete" data-index="{{@index}}"><i class="fas fa-trash-alt"></i></div>
            </div>
        </div>
        {{else}}
        <div class="inventory-item flexrow">
            <div class="counter"></div>
            <input name="inventory-{{@index}}" class="inventory-item-value" data-index="{{@index}}" type="text"
                value="{{item.name}}" />
        </div>
        <div class="options flexrow">
            <div class="adder-gear" data-index="{{@index}}"><i class="fas fa-plus"></i></div>
            <div class="inventory-delete" data-index="{{@index}}"><i class="fas fa-trash-alt"></i></div>
        </div>
        {{/if}}
    </li>
    {{/each}}
    <button type="button" class="inventory-sort"><i class="fas fa-sort"></i>
        Sort</button>
</ol>