<div class="abilities-section flexcol">
    {{#if data.charroles}}
    <div class="roles">
        <div class="role-selector flexrow">
            <label class="label" for="quest-basics.roles">Role(s) </label>
            <div class="adder"><i class="fas fa-plus"></i></div>
        </div>
        <div class="item-group">
            <ul class="item-roles flexrow">
                {{#each displayRoles as | role |}}
                <li class="role item flexrow" data-item-id="{{role.id}}">{{role.name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    <div class="ability-selector">
        <div class="flexrow">
            <label class="label" for="quest-basics.abilities">Abilities</label>
            <div class="adder"><i class="fas fa-plus"></i></div>
        </div>
        {{#if quirk}}
        <label class="label">Quirk</label>
        {{/if}}
    </div>

    <div class="item-group">
        <ul class="item-abilities flexcol">
            {{#each displayAbilities as | ability |}}
                {{#each ability.effects as |effect|}}
                <li class="ability item flexrow" data-effect-id="{{effect.id}}" data-item-id="{{ability.id}}">
                    <div class="name-header flexrow">
                        <div class="cost">{{ability.cost}}</div>
                        {{#if multi }}
                        <div class="ability-name-toggle show">
                            <i class="far fa-plus-square"></i>
                            <label class="label ability-expand">{{ability.name}}</label>
                        </div>
                        <div class="ability-name-toggle hide">
                            <i class="far fa-minus-square"></i>
                            <label class="label ability-expand">{{ability.name}}</label>
                        </div>
                        {{else}}
                        <div class="ability-name flexrow">
                            <label class="label ability-expand">{{ability.name}}</label>
                        </div>
                        {{/if}}
                        <div class="ability-info" data-item-id={{ability.id}}>
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="send-to-chat-default" data-item-id={{ability.id}}>
                            <i class="fas fa-bullhorn"></i>
                        </div>

                        {{#unless ability.multi}}
                        {{#if effect.roll}}
                        <div class="roll-ability" data-item-id={{effect.id}} data-ability-id={{ability.id}}>
                            <i class="fas fa-dice-d20"></i>
                        </div>
                        {{/if}}
                        {{/unless}}
                    </div>

                    {{#if ability.multi}}
                    <div class="cost">{{effect.cost}}</div>
                    {{#if effect.roll}}
                    <div class="roll-ability" data-item-id={{effect.id}}>
                        <i class="fas fa-dice-d20"></i>
                    </div>
                    {{/if}}
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
        </ul>
    </div>
</div>