<div class="sheet-madlibs flexcol flex1">
    <div class="madlib-section flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <div class="madlib-upper flexcol">
            <div class="madlib-section-upper">
                Hi, my name is <input name="name" type="text" value="{{actor.name}}" class="char name" placeholder="Name"/> <br/> (<input name="data.description.pronouns" type="text" class="char pronouns" value="{{data.description.pronouns}}" placeholder="Pronouns" />).
            </div>
            <div class="madlib-section-upper">
                I'm <input name="data.description.age" type="text" class="char age" value="{{data.description.age}}" placeholder="Age" /> years old and stand <input name="data.description.height" type="text" class="char height" value="{{data.description.height}}" placeholder="height" /> tall.
            </div>
            <div class="madlib-section-upper">
                I'm the party's
                <input name="data.description.role" type="text" class="char role" value="{{data.description.role}}" placeholder="Role" />.
            </div>
        </div>
    </div>
    <div class="madlib-section-lower">
        When people see me they first notice my
        <input name="data.description.feature-1" type="text" class="char feature" value="{{data.description.feature-1}}" placeholder="Feature" />,
        <input name="data.description.feature-2" type="text" class="char feature" value="{{data.description.feature-2}}" placeholder="Feature" />,
        and
        <input name="data.description.feature-3" type="text" class="char feature" value="{{data.description.feature-3}}" placeholder="Feature" />.
    </div>

    <div class="madlib-section-lower">
        I wear
        <input name="data.description.style-1" type="text" class="char style" value="{{data.description.style-1}}"
            placeholder="Style" />,
        <input name="data.description.style-2" type="text" class="char style" value="{{data.description.style-2}}"
            placeholder="Style" />, and move with
        <input name="data.description.movement" type="text" class="char movement" value="{{data.description.movement}}"
            placeholder="Movement" />.
    </div>

    <div class="madlib-section-lower">
        I'm from
        <input name="data.description.home" type="text" class="char home" value="{{data.description.home}}" placeholder="Home" />
        where my people are known for
        <input name="data.description.community" type="text" class="char community" value="{{data.description.community}}"
            placeholder="Community" />.
    </div>

    <div class="madlib-section-lower">
        I believe in
        <input name="data.description.ideal" type="text" class="char ideal" value="{{data.description.ideal}}" placeholder="Ideal" />,
        but my
        <input name="data.description.flaw" type="text" class="char flaw" value="{{data.description.flaw}}" placeholder="Flaw" />
        side can get in my way.
    </div>

    <div class="madlib-section-lower">
        I dream of
        <textarea name="data.description.dream" class="char dream" placeholder="Dream">{{data.description.dream}}</textarea>
    </div>
</div>