/* ----------------------------------------- */
/*  Actor Styles                             */
/* ----------------------------------------- */
@import "sheet";

/* ----------------------------------------- */
/*  Character Styles                         */
/* ----------------------------------------- */
.quest.character {
  min-width: 830px;
  min-height: 690px;

  .window-content {
    padding: 0px;
  }

  .character-form {
    background-color: $lightGrey;
    font-family: $fontFamily;
    color: $darkGrey;
    font-size: 1.1rem;
    font-weight: 500;

    img.profile {
      flex: 0 1 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 1px solid $borderGrey;
      margin-right: 0.5rem;
    }

    .header {
      background: $charHeaderBlue;
      padding: 0.4rem;
      align-items: center;
      margin-bottom: 0.8rem;
      flex: 0 1 auto;
      justify-items: space-between;
    }

    .details {
      padding: 1rem;
    }

    .character-label,
    .hitpoints {
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      color: $white;
      text-align: left;
    }

    .roll-generic {
      color: $white;
      text-align: center;
    }

    .actionpoints {
      color: $white;
      text-align: right;
    }

    .hp,
    .ap {
      min-width: 20px;
      max-width: 10rem;
      border: 1px solid #7a7971;
      border-radius: 0.3rem;
      font-size: 1.1rem;
      padding-left: 0.3rem;
    }

    .roll-generic {
      :hover {
        color: $highlightRed;
      }
    }

    .biography {
      flex: 1.75 1 0;
      order: 1;
      padding-right: 0.2rem;
      max-width: 580px;
      max-height: 520px;
    }

    .inventory-abilities {
      flex: 1 1 0;
      order: 2;
      border-left: 2px groove $lightGrey;
      margin-left: 0.3rem;

      .content {
        margin-left: 1rem;
        margin-top: 0.8rem;
      }
    }

    .name,
    .pronouns,
    .heritage,
    .flaw,
    .movement,
    .community {
      width: 65%;
    }

    .age,
    .height,
    .feature,
    .role,
    .style {
      width: 40%;
    }

    .role {
      width: 65%;
    }

    .ideal {
      width: 80%;
    }

    .home {
      width: 55%;
    }

    .biography-section-upper,
    .biography-section-lower {
      flex: 0 1 auto;
    }

    .descriptor-section,
    .descriptor-section-lower {
      flex: 0 1 auto;
      margin-bottom: 0.3rem;
      line-height: 1.8rem;
    }

    .sheet-navigation {
      flex: 0 1 auto;

      a.item {
        font-family: $fontEmphasis;
        font-weight: 700;
        text-transform: uppercase;
      }

      #inventory.active,
      #abilities.active {
        text-shadow: none;
        color: $charHeaderBlue;
        border-bottom: 2px solid $charHeaderBlue;
      }

      #inventory:hover,
      #abilities:hover {
        text-shadow: none;
        color: $highlightRed;
        border-bottom: 2px solid $highlightRed;
      }

      .inventory,
      .abilities {
        margin-top: 0.3rem;
      }
    }

    /* ----------------------------------------- */
    /*  Inventory Styles                         */
    /* ----------------------------------------- */

    ol#inventory-list {
      padding: 0px;
      counter-reset: item;
    }

    .inventory-slot {
      counter-increment: item;

      :last-child {
        margin-bottom: 0px;
      }
    }

    .inventory-slot > .inventory-item {
      margin-bottom: 0.5rem;
      align-items: center;

      .counter {
        flex: 0 1 auto;
        margin-right: 0.5rem;
        background-color: #000;
        color: #fff;
        border-radius: 1.8rem;
        height: 1.8rem;
        width: 1.8rem;
        text-align: center;
        line-height: 1.8rem;
      }

      .inventory-item-value {
        margin-right: 0.3rem;
      }

      .counter:before {
        content: counter(item);
        font-family: $fontEmphasis;
        font-weight: 700;
      }

      .gear-name {
        font-family: $fontEmphasis;
        font-weight: 700;
      }
    }

    .inventory-slot > .item-delete {
      flex: 0 1 auto;
    }

    .sort {
      text-align: center;
    }

    .options {
      flex: 0 1 auto;

      .inventory-delete {
        flex: 0 1 auto;

        :hover {
          color: $highlightRed;
        }
      }

      .adder-gear {
        flex: 0 1 auto;
        margin-right: 0.3rem;

        :hover {
          color: $highlightRed;
        }
      }

      .edit-gear {
        margin-right: 0.3rem;
        flex: 0 1 auto;

        :hover {
          color: $highlightRed;
        }
      }
    }

    .inventory-sort {
      margin-top: 0.3rem;
      color: $white;
      background-color: $charHeaderBlue;
      border: 1px solid $charHeaderBlue;

      :hover {
        color: $highlightRed;
      }
    }

    /* ----------------------------------------- */
    /*  Ability Styles                           */
    /* ----------------------------------------- */

    .abilities-section {
      .ability-info,
      .roll-ability,
      .send-to-chat-default {
        flex: 0 1 auto;
      }

      .ability-info:hover,
      .roll-ability:hover,
      .send-to-chat-default:hover {
        color: $highlightRed;
      }

      .ability-info,
      .roll-ability {
        margin-right: 0.3rem;
      }

      .role-selector,
      .ability-selector,
      .ability-selector-all {
        font-family: $fontEmphasis;
        font-weight: 700;
        color: $charHeaderBlue;
        border-bottom: 2px solid $charHeaderBlue;
      }

      .ability-selector-quirk {
        border: 1px solid $charHeaderBlue;
        background-color: $charHeaderBlue;
        color: $white;
        font-family: $fontEmphasis;
        font-weight: 700;
        width: 60%;
        margin-top: 0.4rem;
        padding: 0.2rem;
        text-align: center;
        align-self: center;
        border-radius: 0.3rem;
        justify-content: center;

        .adder-quirk {
          flex: 0 1 auto;
          margin-right: 0.3rem;
        }

        .character-label {
          flex: 0 1 auto;
        }
      }

      .adder-quirk {
        text-align: right;
      }

      .adder-plus {
        text-align: right;

        :hover {
          color: $highlightRed;
        }
      }

      .abilities-list {
        padding: 0px;
      }

      .expander {
        flex: 0 1 auto;
        margin-right: 0.3rem;
      }

      .effects-expand {
        margin-top: 0px;
      }

      .name-header {
        margin-bottom: 0.3rem;
      }

      .cost {
        flex: 0 0 auto;
        font-family: $fontEmphasis;
        font-weight: 700;
        margin-right: 20px;
        padding-left: 10px;
        border-radius: 3px 0px 0px 3px;
        background: $darkGrey;
        color: $white;
        height: 20px;
        line-height: 1rem;
        position: relative;
        padding-right: 5px;
        width: 1.8rem;
      }

      .cost:after {
        content: "";
        float: right;
        position: absolute;
        top: 0;
        right: -11px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $darkGrey;
        border-style: solid;
        border-width: 10px 0px 10px 11px;
      }
    }

    .role-list {
      padding: 0px;
      font-family: $fontEmphasis;
      font-weight: 700;
    }

    .character-label-color {
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      text-align: left;
      color: $charHeaderBlue;
    }
  }

  .character-label-dark {
    font-family: $fontEmphasis;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem;
    text-align: left;
    color: $darkGrey;
  }

  .roles {
    .character-label-color {
      color: $charHeaderBlue;
    }
  }
}

/* ----------------------------------------- */
/*  Limited Styles                           */
/* ----------------------------------------- */
.quest.character.limited {
  min-width: 750px;
  min-height: 590px;

  .display-only {
    max-width: 450px;
    min-height: auto;
  }

  .decision {
    font-family: $fontEmphasis;
    font-weight: 700;
    display: inline-block;
  }

  li.inventory-slot-display {
    counter-increment: item;

    :last-child {
      margin-bottom: 0px;
    }
  }

  li.inventory-slot-display > .inventory-item-display {
    margin-bottom: 0.3rem;

    .counter {
      flex: 0 1 auto;
      margin-right: 0.5rem;
      background-color: #000;
      color: #fff;
      border-radius: 1.8rem;
      height: 1.8rem;
      width: 1.8rem;
      text-align: center;
      line-height: 1.8rem;
    }

    .counter:before {
      content: counter(item);
    }
  }

  .ap-display,
  .hp-display {
    font-family: $fontEmphasis;
    font-weight: 700;
    color: $white;
    flex: 0 1 auto;
  }

  .roll-generic-display {
    flex: 0 1 auto;
    color: $white;
  }

  .actionpoints,
  .hitpoints {
    flex: 0 1 auto;
  }

  .character-label-display {
    font-family: $fontEmphasis;
    font-weight: 700;
    color: $white;
    margin-right: 0.3rem;
  }

  .actionpoints {
    justify-content: flex-start;
  }

  .hitpoints {
    justify-content: flex-end;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }
}

/* ----------------------------------------- */
/*  NPC Styles                               */
/* ----------------------------------------- */
.quest.npc {
  min-width: 700px;
  min-height: 400px;

  .window-content {
    padding: 0px;
  }

  .npc-form {
    background-color: $lightGrey;
    font-family: $fontFamily;
    color: $darkGrey;
    font-size: 1.1rem;
    font-weight: 500;

    .details {
      text-align: center;
      margin: 0px 1rem 0.5rem 1rem;
      flex: 0 1 auto;
    }

    img.npc-image {
      flex: 0 1 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 1px solid $borderGrey;
      margin-right: 0.5rem;
    }

    .header {
      background: $npcBrown;
      padding: 0.4rem;
      align-items: center;
      margin-bottom: 0.8rem;
      flex: 0 1 auto;
      justify-items: space-between;
    }

    .header-name {
      border-bottom: 2px solid $npcBrown;
    }

    .npc-name {
      width: 80%;
      height: 2rem;
    }

    .npc-label,
    .hitpoints {
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      color: $white;
      text-align: left;
    }

    .roll-generic {
      color: $white;
      text-align: center;
    }

    .attack {
      color: $white;
      text-align: right;
    }

    .hp,
    .ar {
      min-width: 20px;
      max-width: 10rem;
      border: 1px solid #7a7971;
      border-radius: 0.3rem;
      font-size: 1.1rem;
      padding-left: 0.3rem;
    }

    .roll-generic {
      :hover {
        color: $highlightRed;
      }
    }

    .section {
      margin: 0px 1rem;
      flex: 0 1 auto;

      .npc-label {
        color: $darkGrey;
      }
    }
  }
}
