/* ----------------------------------------- */
/*  Actor Styles                             */
/* ----------------------------------------- */
@import 'sheet';

/* ----------------------------------------- */
/*  Inventory Styles                         */
/* ----------------------------------------- */
.quest.character{
    ul {
        .draggable {
            will-change: transform;
            list-style-type: none;
        }
    }
}

.over {
    transform: scale(1.1, 1.1);
}