/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
@import "sheet";

.quest.item {
  .item-header {
    font-family: $fontEmphasis;
    font-weight: 700;
    flex: 0 0 auto;
  }

  h1 > input[type="text"] {
    flex: 0 0 auto;
  }

  input[type="text"] {
    font-family: $fontEmphasis;
    padding: 10px;

    ::placeholder {
      font-weight: 700;
    }
  }

  textarea {
    font-family: $fontEmphasis;
    padding: 10px;

    ::placeholder {
      font-weight: 700;
    }
  }

  h1.header {
    margin-left: 10px;
    padding: 0px;
    border-bottom: 0px;
  }

  input[type="number"] {
    background: none;
    min-width: 20px;
    height: 24px;
    border: 1px solid #7a7971;
    border-radius: 3px;
  }

  .label {
    flex: 0 0 auto;
    font-family: $fontEmphasis;
    font-weight: 700;
  }

  .item-group {
    margin-top: 10px;
    flex: 0 0 auto;
  }

  .maximum,
  .minimum {
    margin-left: 10px;
  }

  .explanation {
    flex: 0 0 auto;
  }

  .item-delete:hover {
    color: red;
  }

  .adder {
    padding: 10px;
    line-height: 30px;
    border: 2px dashed #000;
    list-style: dot;
    flex: 0 0 30px;
  }

  .hover {
    box-shadow: 0px 0px 5px red;
  }

  .item-image {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
  }

  .legendary {
    margin-left: 10px;
  }

  .ability-body {
    flex: 0 0 auto;
  }

  .item-header {
    align-items: center;
  }

  .item-name {
    height: 45px;
  }

  .item-info {
    flex: 0 0 auto;
    margin-left: 5px;
  }

  .item-label {
    flex: 0 0 auto;
  }
}

/* ----------------------------------------- */
/*  Range Styles                             */
/* ----------------------------------------- */

.quest.item.range {
  min-width: 600px;
  min-height: 440px;

  .range-value {
    margin-left: 10px;
  }

  .minimum,
  .maximum {
    margin-left: 0px;
    padding-left: 10px;
  }
}

/* ----------------------------------------- */
/*  Effect Styles                            */
/* ----------------------------------------- */

.quest.item.effect {
  min-width: 600px;
  min-height: 600px;

  .label {
    margin-right: 10px;
  }

  .item-ranges {
    padding: 0px 0px 0px 0px;
    margin-top: -10px;
  }

  .range {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid black;
  }

  .options {
    text-align: right;
  }

  .description, .chat, .effect-cost, .effect-flavor-name {
    flex: 0 0 auto;
  }
}

/* ----------------------------------------- */
/*  Ability Styles                           */
/* ----------------------------------------- */

.quest.item.ability {
  min-width: 550px;
  min-height: 520px;

  .ability-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-effects {
    padding: 0px 0px 0px 0px;
    margin-top: -10px;
  }

  .adder {
    padding: 10px;
    line-height: 30px;
    border: 2px dashed #000;
    list-style: dot;
    flex: 0 0 30px;
  }

  .effect {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
  }

  .hover {
    box-shadow: 0px 0px 5px red;
  }

  .options {
    text-align: right;
  }

  .item-group.legendary {
    margin: 0px;
    padding: 0px;
  }
}

/* ----------------------------------------- */
/*  Path Styles                              */
/* ----------------------------------------- */

.quest.item.path {
  min-width: 580px;
  min-height: 520px;

  .path-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-abilities {
    padding: 0px 0px 0px 0px;
  }

  .options {
    text-align: right;
  }

  .path-body {
    flex: 0 0 auto;
  }

  .ability {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    cursor: move;
  }

  .ability.dragging {
    opacity: 0.5;
  }
}

/* ----------------------------------------- */
/*  Role Styles                           */
/* ----------------------------------------- */

.quest.item.role {
  min-width: 550px;
  min-height: 520px;

  .role-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-paths {
    padding: 0px 0px 0px 0px;
  }

  .options {
    text-align: right;
  }

  .description, .chat {
    flex: 0 0 auto;
  }

  .path {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
  }
}