/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
@import "sheet";

.quest.item {
  .item-header {
    font-family: $fontEmphasis;
    font-weight: 700;
    padding-bottom: 5px;
    flex: 0 0 auto;
  }

  h1 > input[type="text"] {
    height: 30px;
  }

  input[type="number"] {
    background: none;
    min-width: 20px;
    height: 24px;
    border: 1px solid #7a7971;
    border-radius: 3px;
  }

  .label {
    flex: 0 0 auto;
    font-family: $fontEmphasis;
    font-weight: 700;
  }

  .item-group {
    margin-top: 10px;
    flex: 0 0 auto;
  }

  .maximum,
  .minimum {
    margin-left: 10px;
  }

  .explanation {
    flex: 0 0 auto;
  }

  .item-delete:hover {
    color: red;
  }

  .adder {
    padding: 10px;
    line-height: 30px;
    border: 1px solid #000;
    list-style: dot;
    flex: 0 0 30px;
  }

  .hover {
    box-shadow: 0px 0px 5px red;
  }
}

/* ----------------------------------------- */
/*  Range Styles                             */
/* ----------------------------------------- */

.quest.item.range {
  min-width: 580px;
  min-height: 440px;

  .range-value {
    margin-left: 10px;
  }

  .minimum,
  .maximum {
    margin-left: 0px;
    padding-left: 10px;
  }
}

/* ----------------------------------------- */
/*  Effect Styles                            */
/* ----------------------------------------- */

.quest.item.effect {
  min-width: 460px;
  min-height: 600px;

  .label {
    margin-right: 10px;
  }

  .item-ranges {
    padding: 0px 0px 0px 0px;
    margin-top: -10px;
  }

  .options {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
  }

  .description, .chat {
    flex: 0 0 auto;
  }
}

/* ----------------------------------------- */
/*  Ability Styles                           */
/* ----------------------------------------- */

.quest.item.ability {
  min-width: 460px;
  min-height: 520px;

  .ability-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-effects {
    padding: 0px 0px 0px 0px;
    margin-top: -10px;
  }

  .adder {
    padding: 10px;
    line-height: 30px;
    border: 1px solid #000;
    list-style: dot;
    flex: 0 0 30px;
  }

  .effect {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
  }

  .hover {
    box-shadow: 0px 0px 5px red;
  }

  .options {
    text-align: right;
  }
}

/* ----------------------------------------- */
/*  Tree Styles                              */
/* ----------------------------------------- */

.quest.item.tree {
  min-width: 460px;
  min-height: 520px;

  .tree-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-abilities {
    padding: 0px 0px 0px 0px;
  }

  .options {
    text-align: right;
  }

  .ability {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
    cursor: move;
  }

  .ability.dragging {
    opacity: 0.5;
  }
}

/* ----------------------------------------- */
/*  Role Styles                           */
/* ----------------------------------------- */

.quest.item.role {
  min-width: 460px;
  min-height: 520px;

  .role-header {
    flex: 0 0 auto;
  }

  .label {
    margin-right: 10px;
  }

  ul.item-trees {
    padding: 0px 0px 0px 0px;
  }

  .options {
    text-align: right;
  }

  .description, .chat {
    flex: 0 0 auto;
  }

  .tree {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
  }
}