/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
@import "sheet";

/* ----------------------------------------- */
/*  Ability Builder Style                    */
/* ----------------------------------------- */

.quest.item.ability-builder {
  .window-content {
    background-color: $lightGrey;
    background-image: none;
  }

  img {
    flex: 0 1 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid $borderGrey;
  }

  .item-header {
    align-content: center;

    .item-image,
    .header {
      align-self: center;
    }

    h1.header {
      text-align: center;
      border-bottom: 2px solid $builderHighlightGreen;
    }
  }

  .submit {
    margin-top: 0.3rem;
    color: $white;
    background-color: $builderHighlightGreen;
    border: 1px solid $builderHighlightGreen;
  }

  .submit:hover {
      background-color: $highlightRed;
      border: 1px solid $highlightRed;
  }

  .steps {
    .step {
      h1.progress-header {
        font-family: $fontEmphasis;
        font-weight: 700;
        font-size: 1.3rem;
        border-bottom: 2px solid $builderHighlightGreen;
        text-align: center;
      }

      .section {
        align-items: center;
        margin-top: 0.4rem;

        .item-label {
          flex: 0 1 auto;
          font-family: $fontEmphasis;
          font-weight: 700;
          font-size: 1rem;
          margin-right: 0.2rem;
        }

        .tooltip {
          flex: 0 1 auto;

          .tooltiptext {
            top: -1.8rem;
            left: -6.2rem;

            ::after {
              top: 100%;
              left: 50%;
              margin-left: -0.4rem;
              border-width: 0.4rem;
              border-style: solid;
              border-color: $darkGrey, transparent, transparent, transparent;
            }
          }
        }

        input[type="checkbox"] {
          height: auto;
        }

        textarea:focus,
        input[type="checkbox"]:focus {
          outline: 2px solid $highlightRed;
        }

        select:focus {
          box-shadow: none;
          outline: 2px solid $highlightRed;
        }
      }

      .adder-effect {
        font-family: $fontEmphasis;
        font-weight: 700;
        flex: 0 1 0.8rem;
        background-color: $builderHighlightGreen;
        border: 1px solid $builderHighlightGreen;
        color: $white;
        padding: 0.5rem;
        text-align: center;
        width: 16rem;
        border-radius: 0.3rem;
        align-self: center;
        margin-bottom: 0.5rem;
      }

      .effect-list {
        padding: 0px;
        margin: 0px;
        align-content: center;

        .effect {
          font-weight: 700;
          padding: 0.5rem;
          border: 1px solid $borderGrey;
          margin-bottom: 0.3rem;

          .options {
            justify-content: flex-end;

            .config,
            .delete {
              flex: 0 1 auto;
            }

            .config:hover,
            .delete:hover {
              color: $highlightRed;
            }

            .config {
              margin-right: 0.2rem;
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/*  Role Styles                              */
/* ----------------------------------------- */

.quest.sheet.item.role {
  .window-content {
    background-color: $lightGrey;
    background-image: none;
  }

  img {
    flex: 0 1 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid $borderGrey;
  }

  .item-header {
    align-content: center;

    .item-image,
    .header {
      align-self: center;
    }

    h1.header {
      text-align: center;
      border-bottom: 2px solid $roleGrey;
      margin-top: 0.5rem;
    }
  }

  .tooltip {
    flex: 0 1 auto;

    .tooltiptext {
      top: -1.8rem;
      left: -6.2rem;

      ::after {
        top: 100%;
        left: 50%;
        margin-left: -0.4rem;
        border-width: 0.4rem;
        border-style: solid;
        border-color: $darkGrey, transparent, transparent, transparent;
      }
    }
  }

  .section {
    margin-top: 0.4rem;

    h1.section-header {
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1.3rem;
      border-bottom: 2px solid $roleGrey;
      text-align: center;
      flex: 0 1 auto;
    }

    .item-label {
      flex: 0 1 auto;
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
    }

    input[type="checkbox"] {
      height: auto;
    }

    textarea:focus,
    input[type="checkbox"]:focus {
      outline: 2px solid $highlightRed;
    }

    select:focus {
      box-shadow: none;
      outline: 2px solid $highlightRed;
    }

    .adder-legendaries,
    .adder-paths {
      font-family: $fontEmphasis;
      font-weight: 700;
      flex: 0 1 0.8rem;
      background-color: $roleGrey;
      border: 1px solid $roleGrey;
      color: $white;
      padding: 0.5rem;
      text-align: center;
      width: 16rem;
      border-radius: 0.3rem;
      align-self: center;
      margin-bottom: 0.5rem;
    }

    .legendary-list {
      padding: 0px;
      margin: 0px;
      align-content: center;

      .legendary,
      .path {
        font-weight: 700;
        padding: 0.5rem;
        border: 1px solid $borderGrey;
        margin-bottom: 0.3rem;

        .options {
          justify-content: flex-end;

          .config,
          .delete {
            flex: 0 1 auto;
          }

          .config:hover,
          .delete:hover {
            color: $highlightRed;
          }

          .config {
            margin-right: 0.2rem;
          }
        }
      }
    }

    .path-list {
      padding: 0px;
      margin: 0px;
      align-content: center;

      .path {
        font-weight: 700;
        padding: 0.5rem;
        border: 1px solid $borderGrey;
        margin-bottom: 0.3rem;

        .options {
          justify-content: flex-end;

          .config,
          .delete {
            flex: 0 1 auto;
          }

          .config:hover,
          .delete:hover {
            color: $highlightRed;
          }

          .config {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/*  Path Styles                              */
/* ----------------------------------------- */

.quest.sheet.item.path {
  .window-content {
    background-color: $lightGrey;
    background-image: none;
  }

  img {
    flex: 0 1 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid $borderGrey;
  }

  .item-header {
    align-content: center;

    .item-image,
    .header {
      align-self: center;
    }

    h1.header {
      text-align: center;
      border-bottom: 2px solid $pathPink;
      margin-top: 0.5rem;
    }
  }

  .tooltip {
    flex: 0 1 auto;

    .tooltiptext {
      top: -1.8rem;
      left: -6.2rem;

      ::after {
        top: 100%;
        left: 50%;
        margin-left: -0.4rem;
        border-width: 0.4rem;
        border-style: solid;
        border-color: $darkGrey, transparent, transparent, transparent;
      }
    }
  }

  .section {
    margin-top: 0.4rem;

    h1.section-header {
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1.3rem;
      border-bottom: 2px solid $pathPink;
      text-align: center;
      flex: 0 1 auto;
    }

    .item-label {
      flex: 0 1 auto;
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
    }

    .adder-abilities {
      font-family: $fontEmphasis;
      font-weight: 700;
      flex: 0 1 0.8rem;
      background-color: $pathPink;
      border: 1px solid $pathPink;
      color: $white;
      padding: 0.5rem;
      text-align: center;
      width: 16rem;
      border-radius: 0.3rem;
      align-self: center;
      margin-bottom: 0.5rem;
    }

    .abilities-list {
      padding: 0px;
      margin: 0px;
      align-content: center;

      .ability {
        font-weight: 700;
        padding: 0.5rem;
        border: 1px solid $borderGrey;
        margin-bottom: 0.3rem;

        .drag-bars {
          flex: 0 1 auto;
          margin-right: 0.5rem;
          color: $borderGrey;
        }

        .options {
          justify-content: flex-end;

          .config,
          .delete {
            flex: 0 1 auto;
          }

          .config:hover,
          .delete:hover {
            color: $highlightRed;
          }

          .config {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/*  Gear Styles                              */
/* ----------------------------------------- */

.quest.sheet.item.gear {
  min-width: 400px;

  .window-content {
    background-color: $lightGrey;
    background-image: none;
  }

  img {
    flex: 0 1 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid $borderGrey;
  }

  .item-header {
    align-content: center;

    .item-image,
    .header {
      align-self: center;
    }

    h1.header {
      text-align: center;
      border-bottom: 2px solid $gearMagenta;
      margin-top: 0.5rem;
    }
  }

  .section {
    h1.section-header {
      text-align: center;
      border-bottom: 2px solid $gearMagenta;
      margin-top: 0.5rem;
    }

    .item-label {
      flex: 0 1 auto;
      font-family: $fontEmphasis;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
    }

    .field-group {
      margin-bottom: 0.4rem;
    }

    .rarity-select {
      flex: 0 1 50%;
    }
  }
}