/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
$fontFamily: "Ovo", sans-serif;
$fontEmphasis: "Alegreya Sans", sans-serif;

.quest.character, .quest.item {
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}

.quest.character {
  // Character Profile image (larger than usual)
  img.profile {
    flex: 0 0 150px;
    max-width: 150px;
    height: 150px;
  }

  textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px red;
  }

  input::placeholder{
    opacity: 0.6;
  }
}
