/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.flexrow > * {
  flex: 1; }

.flexrow .flex1 {
  flex: 1; }

.flexrow .flex2 {
  flex: 2; }

.flexrow .flex3 {
  flex: 3; }

.flexrow .flex4 {
  flex: 4; }

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.flexcol > * {
  flex: 1; }

.flexcol .flex1 {
  flex: 1; }

.flexcol .flex2 {
  flex: 2; }

.flexcol .flex3 {
  flex: 3; }

.flexcol .flex4 {
  flex: 4; }
