/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Actor Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
/* Colors */
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
.sheet.actor.character .window-content {
  background: #eeeeee;
  line-height: 1.2rem;
  font-size: 1.1rem; }

.quest input,
.quest input[type="number"],
.quest input[type="text"],
.quest textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  background: #eeeeee;
  line-height: 1.2rem;
  border: 1px solid #adb5bd;
  border-radius: 3px; }

.quest input::placeholder, .quest textarea::placeholder {
  opacity: 0.6; }

.quest input[type="text"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828;
  border-radius: 0.2rem;
  border: 1px solid #adb5bd; }

.quest input[type="number"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828; }

.quest textarea:focus {
  outline: 2px solid #f04828; }

.quest .hide {
  display: none; }

.quest .tooltip {
  position: relative; }
  .quest .tooltip .tooltiptext {
    visibility: hidden;
    width: 12rem;
    background-color: #222831;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 99999;
    margin-left: 0.4rem;
    top: -1.6rem;
    padding: 0.2rem; }
  .quest .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0.4rem;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent #222831 transparent transparent; }

.quest .tooltip:hover .tooltiptext {
  visibility: visible; }

.quest button:hover {
  box-shadow: none; }

/* ----------------------------------------- */
/*  Character Styles                         */
/* ----------------------------------------- */
.quest.character {
  min-width: 830px;
  min-height: 690px; }
  .quest.character .window-content {
    padding: 0px; }
  .quest.character .character-form {
    background-color: #eeeeee;
    font-family: "Ovo", sans-serif;
    color: #222831;
    font-size: 1.1rem;
    font-weight: 500;
    /* ----------------------------------------- */
    /*  Inventory Styles                         */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Ability Styles                           */
    /* ----------------------------------------- */ }
    .quest.character .character-form img.profile {
      flex: 0 1 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 1px solid #adb5bd;
      margin-right: 0.5rem; }
    .quest.character .character-form .header {
      background: #004576;
      padding: 0.4rem;
      align-items: center;
      margin-bottom: 0.8rem;
      flex: 0 1 auto;
      justify-items: space-between; }
    .quest.character .character-form .details {
      padding: 1rem; }
    .quest.character .character-form .character-label,
    .quest.character .character-form .hitpoints {
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      color: #fff;
      text-align: left; }
    .quest.character .character-form .roll-generic {
      color: #fff;
      text-align: center; }
    .quest.character .character-form .actionpoints {
      color: #fff;
      text-align: right; }
    .quest.character .character-form .hp,
    .quest.character .character-form .ap {
      min-width: 20px;
      max-width: 10rem;
      border: 1px solid #7a7971;
      border-radius: 0.3rem;
      font-size: 1.1rem;
      padding-left: 0.3rem; }
    .quest.character .character-form .roll-generic :hover {
      color: #f04828; }
    .quest.character .character-form .biography {
      flex: 1.75 1 0;
      order: 1;
      padding-right: 0.2rem;
      max-width: 580px;
      max-height: 520px; }
    .quest.character .character-form .inventory-abilities {
      flex: 1 1 0;
      order: 2;
      border-left: 2px groove #eeeeee;
      margin-left: 0.3rem; }
      .quest.character .character-form .inventory-abilities .content {
        margin-left: 1rem;
        margin-top: 0.8rem; }
    .quest.character .character-form .name,
    .quest.character .character-form .pronouns,
    .quest.character .character-form .heritage,
    .quest.character .character-form .flaw,
    .quest.character .character-form .movement,
    .quest.character .character-form .community {
      width: 65%; }
    .quest.character .character-form .age,
    .quest.character .character-form .height,
    .quest.character .character-form .feature,
    .quest.character .character-form .role,
    .quest.character .character-form .style {
      width: 40%; }
    .quest.character .character-form .role {
      width: 65%; }
    .quest.character .character-form .ideal {
      width: 80%; }
    .quest.character .character-form .home {
      width: 55%; }
    .quest.character .character-form .biography-section-upper,
    .quest.character .character-form .biography-section-lower {
      flex: 0 1 auto; }
    .quest.character .character-form .descriptor-section,
    .quest.character .character-form .descriptor-section-lower {
      flex: 0 1 auto;
      margin-bottom: 0.3rem;
      line-height: 1.8rem; }
    .quest.character .character-form .sheet-navigation {
      flex: 0 1 auto; }
      .quest.character .character-form .sheet-navigation a.item {
        font-family: "Alegreya Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase; }
      .quest.character .character-form .sheet-navigation #inventory.active,
      .quest.character .character-form .sheet-navigation #abilities.active {
        text-shadow: none;
        color: #004576;
        border-bottom: 2px solid #004576; }
      .quest.character .character-form .sheet-navigation #inventory:hover,
      .quest.character .character-form .sheet-navigation #abilities:hover {
        text-shadow: none;
        color: #f04828;
        border-bottom: 2px solid #f04828; }
      .quest.character .character-form .sheet-navigation .inventory,
      .quest.character .character-form .sheet-navigation .abilities {
        margin-top: 0.3rem; }
    .quest.character .character-form ol#inventory-list {
      padding: 0px;
      counter-reset: item; }
    .quest.character .character-form .inventory-slot {
      counter-increment: item; }
      .quest.character .character-form .inventory-slot :last-child {
        margin-bottom: 0px; }
    .quest.character .character-form .inventory-slot > .inventory-item {
      margin-bottom: 0.5rem; }
      .quest.character .character-form .inventory-slot > .inventory-item .counter {
        flex: 0 1 auto;
        margin-right: 0.5rem;
        background-color: #000;
        color: #fff;
        border-radius: 1.8rem;
        height: 1.8rem;
        width: 1.8rem;
        text-align: center;
        line-height: 1.8rem; }
        .quest.character .character-form .inventory-slot > .inventory-item .counter :before {
          content: counter(item);
          font-family: "Alegreya Sans", sans-serif;
          font-weight: 700; }
      .quest.character .character-form .inventory-slot > .inventory-item .inventory-item-value {
        margin-right: 0.3rem; }
    .quest.character .character-form .inventory-slot > .item-delete {
      flex: 0 1 auto; }
    .quest.character .character-form .sort {
      text-align: center; }
    .quest.character .character-form .options {
      flex: 0 1 auto; }
      .quest.character .character-form .options .inventory-delete {
        flex: 0 1 auto; }
        .quest.character .character-form .options .inventory-delete :hover {
          color: #f04828; }
      .quest.character .character-form .options .adder-gear {
        flex: 0 1 auto;
        margin-right: 0.3rem; }
        .quest.character .character-form .options .adder-gear :hover {
          color: #f04828; }
    .quest.character .character-form .inventory-sort {
      margin-top: 0.3rem;
      color: #fff;
      background-color: #004576;
      border: 1px solid #004576; }
      .quest.character .character-form .inventory-sort :hover {
        color: #f04828; }
    .quest.character .character-form .abilities-section .ability-info,
    .quest.character .character-form .abilities-section .roll-ability,
    .quest.character .character-form .abilities-section .send-to-chat-default {
      flex: 0 1 auto; }
    .quest.character .character-form .abilities-section .ability-info:hover,
    .quest.character .character-form .abilities-section .roll-ability:hover,
    .quest.character .character-form .abilities-section .send-to-chat-default:hover {
      color: #f04828; }
    .quest.character .character-form .abilities-section .ability-info,
    .quest.character .character-form .abilities-section .roll-ability {
      margin-right: 0.3rem; }
    .quest.character .character-form .abilities-section .role-selector,
    .quest.character .character-form .abilities-section .ability-selector,
    .quest.character .character-form .abilities-section .ability-selector-all {
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      color: #004576;
      border-bottom: 2px solid #004576; }
    .quest.character .character-form .abilities-section .ability-selector-quirk {
      border: 1px solid #004576;
      background-color: #004576;
      color: #fff;
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      width: 60%;
      margin-top: 0.4rem;
      padding: 0.2rem;
      text-align: center;
      align-self: center;
      border-radius: 0.3rem;
      justify-content: center; }
      .quest.character .character-form .abilities-section .ability-selector-quirk .adder-quirk {
        flex: 0 1 auto;
        margin-right: 0.3rem; }
      .quest.character .character-form .abilities-section .ability-selector-quirk .character-label {
        flex: 0 1 auto; }
    .quest.character .character-form .abilities-section .adder-quirk {
      text-align: right; }
    .quest.character .character-form .abilities-section .adder-plus {
      text-align: right; }
      .quest.character .character-form .abilities-section .adder-plus :hover {
        color: #f04828; }
    .quest.character .character-form .abilities-section .abilities-list {
      padding: 0px; }
    .quest.character .character-form .abilities-section .expander {
      flex: 0 1 auto;
      margin-right: 0.3rem; }
    .quest.character .character-form .abilities-section .effects-expand {
      margin-top: 0px; }
    .quest.character .character-form .abilities-section .name-header {
      margin-bottom: 0.3rem; }
    .quest.character .character-form .abilities-section .cost {
      flex: 0 0 auto;
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      margin-right: 20px;
      padding-left: 10px;
      border-radius: 3px 0px 0px 3px;
      background: #222831;
      color: #fff;
      height: 20px;
      line-height: 1rem;
      position: relative;
      padding-right: 5px;
      width: 1.8rem; }
    .quest.character .character-form .abilities-section .cost:after {
      content: "";
      float: right;
      position: absolute;
      top: 0;
      right: -11px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent #222831;
      border-style: solid;
      border-width: 10px 0px 10px 11px; }
    .quest.character .character-form .role-list {
      padding: 0px;
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700; }
    .quest.character .character-form .character-label-color {
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      text-align: left;
      color: #004576; }
  .quest.character .character-label-dark {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem;
    text-align: left;
    color: #222831; }
  .quest.character .roles .character-label-color {
    color: #004576; }

/* ----------------------------------------- */
/*  Limited Styles                           */
/* ----------------------------------------- */
.quest.character.limited {
  min-width: 750px;
  min-height: 590px; }
  .quest.character.limited .display-only {
    max-width: 450px;
    min-height: auto; }
  .quest.character.limited .decision {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    display: inline-block; }
  .quest.character.limited li.inventory-slot-display {
    counter-increment: item; }
    .quest.character.limited li.inventory-slot-display :last-child {
      margin-bottom: 0px; }
  .quest.character.limited li.inventory-slot-display > .inventory-item-display {
    margin-bottom: 0.3rem; }
    .quest.character.limited li.inventory-slot-display > .inventory-item-display .counter {
      flex: 0 1 auto;
      margin-right: 0.5rem;
      background-color: #000;
      color: #fff;
      border-radius: 1.8rem;
      height: 1.8rem;
      width: 1.8rem;
      text-align: center;
      line-height: 1.8rem; }
    .quest.character.limited li.inventory-slot-display > .inventory-item-display .counter:before {
      content: counter(item); }
  .quest.character.limited .ap-display, .quest.character.limited .hp-display {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    flex: 0 1 auto; }
  .quest.character.limited .roll-generic-display {
    flex: 0 1 auto;
    color: #fff; }
  .quest.character.limited .actionpoints, .quest.character.limited .hitpoints {
    flex: 0 1 auto; }
  .quest.character.limited .character-label-display {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-right: 0.3rem; }
  .quest.character.limited .actionpoints {
    justify-content: flex-start; }
  .quest.character.limited .hitpoints {
    justify-content: flex-end; }
  .quest.character.limited .header {
    justify-content: space-between;
    align-items: center; }

/* ----------------------------------------- */
/*  NPC Styles                               */
/* ----------------------------------------- */
.quest.npc {
  min-width: 700px;
  min-height: 400px; }
  .quest.npc .window-content {
    padding: 0px; }
  .quest.npc .npc-form {
    background-color: #eeeeee;
    font-family: "Ovo", sans-serif;
    color: #222831;
    font-size: 1.1rem;
    font-weight: 500; }
    .quest.npc .npc-form .details {
      text-align: center;
      margin: 0px 1rem 0.5rem 1rem;
      flex: 0 1 auto; }
    .quest.npc .npc-form img.npc-image {
      flex: 0 1 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 1px solid #adb5bd;
      margin-right: 0.5rem; }
    .quest.npc .npc-form .header {
      background: #6e552a;
      padding: 0.4rem;
      align-items: center;
      margin-bottom: 0.8rem;
      flex: 0 1 auto;
      justify-items: space-between; }
    .quest.npc .npc-form .header-name {
      border-bottom: 2px solid #6e552a; }
    .quest.npc .npc-form .npc-name {
      width: 80%;
      height: 2rem; }
    .quest.npc .npc-form .npc-label,
    .quest.npc .npc-form .hitpoints {
      font-family: "Alegreya Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.2rem;
      color: #fff;
      text-align: left; }
    .quest.npc .npc-form .roll-generic {
      color: #fff;
      text-align: center; }
    .quest.npc .npc-form .attack {
      color: #fff;
      text-align: right; }
    .quest.npc .npc-form .hp,
    .quest.npc .npc-form .ar {
      min-width: 20px;
      max-width: 10rem;
      border: 1px solid #7a7971;
      border-radius: 0.3rem;
      font-size: 1.1rem;
      padding-left: 0.3rem; }
    .quest.npc .npc-form .roll-generic :hover {
      color: #f04828; }
    .quest.npc .npc-form .section {
      margin: 0px 1rem;
      flex: 0 1 auto; }
      .quest.npc .npc-form .section .npc-label {
        color: #222831; }

/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* Colors */
.sheet.actor.character .window-content {
  background: #eeeeee;
  line-height: 1.2rem;
  font-size: 1.1rem; }

.quest input,
.quest input[type="number"],
.quest input[type="text"],
.quest textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  background: #eeeeee;
  line-height: 1.2rem;
  border: 1px solid #adb5bd;
  border-radius: 3px; }

.quest input::placeholder, .quest textarea::placeholder {
  opacity: 0.6; }

.quest input[type="text"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828;
  border-radius: 0.2rem;
  border: 1px solid #adb5bd; }

.quest input[type="number"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828; }

.quest textarea:focus {
  outline: 2px solid #f04828; }

.quest .hide {
  display: none; }

.quest .tooltip {
  position: relative; }
  .quest .tooltip .tooltiptext {
    visibility: hidden;
    width: 12rem;
    background-color: #222831;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 99999;
    margin-left: 0.4rem;
    top: -1.6rem;
    padding: 0.2rem; }
  .quest .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0.4rem;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent #222831 transparent transparent; }

.quest .tooltip:hover .tooltiptext {
  visibility: visible; }

.quest button:hover {
  box-shadow: none; }

/* ----------------------------------------- */
/*  Ability Builder Style                    */
/* ----------------------------------------- */
.quest.item.ability-builder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.item.ability-builder img {
  flex: 0 1 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #adb5bd; }

.quest.item.ability-builder .item-header {
  align-content: center; }
  .quest.item.ability-builder .item-header .item-image,
  .quest.item.ability-builder .item-header .header {
    align-self: center; }
  .quest.item.ability-builder .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #3D8F57; }

.quest.item.ability-builder .submit {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #3D8F57;
  border: 1px solid #3D8F57; }

.quest.item.ability-builder .submit:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.item.ability-builder .steps .step h1.progress-header {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 2px solid #3D8F57;
  text-align: center; }

.quest.item.ability-builder .steps .step .section {
  align-items: center;
  margin-top: 0.4rem; }
  .quest.item.ability-builder .steps .step .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.item.ability-builder .steps .step .section .tooltip {
    flex: 0 1 auto; }
    .quest.item.ability-builder .steps .step .section .tooltip .tooltiptext {
      top: -1.8rem;
      left: -6.2rem; }
      .quest.item.ability-builder .steps .step .section .tooltip .tooltiptext ::after {
        top: 100%;
        left: 50%;
        margin-left: -0.4rem;
        border-width: 0.4rem;
        border-style: solid;
        border-color: #222831, transparent, transparent, transparent; }
  .quest.item.ability-builder .steps .step .section input[type="checkbox"] {
    height: auto; }
  .quest.item.ability-builder .steps .step .section textarea:focus,
  .quest.item.ability-builder .steps .step .section input[type="checkbox"]:focus {
    outline: 2px solid #f04828; }
  .quest.item.ability-builder .steps .step .section select:focus {
    box-shadow: none;
    outline: 2px solid #f04828; }

.quest.item.ability-builder .steps .step .adder-effect {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  flex: 0 1 0.8rem;
  background-color: #3D8F57;
  border: 1px solid #3D8F57;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  width: 16rem;
  border-radius: 0.3rem;
  align-self: center;
  margin-bottom: 0.5rem; }

.quest.item.ability-builder .steps .step .effect-list {
  padding: 0px;
  margin: 0px;
  align-content: center; }
  .quest.item.ability-builder .steps .step .effect-list .effect {
    font-weight: 700;
    padding: 0.5rem;
    border: 1px solid #adb5bd;
    margin-bottom: 0.3rem; }
    .quest.item.ability-builder .steps .step .effect-list .effect .options {
      justify-content: flex-end; }
      .quest.item.ability-builder .steps .step .effect-list .effect .options .config,
      .quest.item.ability-builder .steps .step .effect-list .effect .options .delete {
        flex: 0 1 auto; }
      .quest.item.ability-builder .steps .step .effect-list .effect .options .config:hover,
      .quest.item.ability-builder .steps .step .effect-list .effect .options .delete:hover {
        color: #f04828; }
      .quest.item.ability-builder .steps .step .effect-list .effect .options .config {
        margin-right: 0.2rem; }

/* ----------------------------------------- */
/*  Role Styles                              */
/* ----------------------------------------- */
.quest.sheet.item.role .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.sheet.item.role img {
  flex: 0 1 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #adb5bd; }

.quest.sheet.item.role .item-header {
  align-content: center; }
  .quest.sheet.item.role .item-header .item-image,
  .quest.sheet.item.role .item-header .header {
    align-self: center; }
  .quest.sheet.item.role .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #454f4e;
    margin-top: 0.5rem; }

.quest.sheet.item.role .tooltip {
  flex: 0 1 auto; }
  .quest.sheet.item.role .tooltip .tooltiptext {
    top: -1.8rem;
    left: -6.2rem; }
    .quest.sheet.item.role .tooltip .tooltiptext ::after {
      top: 100%;
      left: 50%;
      margin-left: -0.4rem;
      border-width: 0.4rem;
      border-style: solid;
      border-color: #222831, transparent, transparent, transparent; }

.quest.sheet.item.role .section {
  margin-top: 0.4rem; }
  .quest.sheet.item.role .section h1.section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #454f4e;
    text-align: center;
    flex: 0 1 auto; }
  .quest.sheet.item.role .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.sheet.item.role .section input[type="checkbox"] {
    height: auto; }
  .quest.sheet.item.role .section textarea:focus,
  .quest.sheet.item.role .section input[type="checkbox"]:focus {
    outline: 2px solid #f04828; }
  .quest.sheet.item.role .section select:focus {
    box-shadow: none;
    outline: 2px solid #f04828; }
  .quest.sheet.item.role .section .adder-legendaries,
  .quest.sheet.item.role .section .adder-paths {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    flex: 0 1 0.8rem;
    background-color: #454f4e;
    border: 1px solid #454f4e;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    width: 16rem;
    border-radius: 0.3rem;
    align-self: center;
    margin-bottom: 0.5rem; }
  .quest.sheet.item.role .section .legendary-list {
    padding: 0px;
    margin: 0px;
    align-content: center; }
    .quest.sheet.item.role .section .legendary-list .legendary,
    .quest.sheet.item.role .section .legendary-list .path {
      font-weight: 700;
      padding: 0.5rem;
      border: 1px solid #adb5bd;
      margin-bottom: 0.3rem; }
      .quest.sheet.item.role .section .legendary-list .legendary .options,
      .quest.sheet.item.role .section .legendary-list .path .options {
        justify-content: flex-end; }
        .quest.sheet.item.role .section .legendary-list .legendary .options .config,
        .quest.sheet.item.role .section .legendary-list .legendary .options .delete,
        .quest.sheet.item.role .section .legendary-list .path .options .config,
        .quest.sheet.item.role .section .legendary-list .path .options .delete {
          flex: 0 1 auto; }
        .quest.sheet.item.role .section .legendary-list .legendary .options .config:hover,
        .quest.sheet.item.role .section .legendary-list .legendary .options .delete:hover,
        .quest.sheet.item.role .section .legendary-list .path .options .config:hover,
        .quest.sheet.item.role .section .legendary-list .path .options .delete:hover {
          color: #f04828; }
        .quest.sheet.item.role .section .legendary-list .legendary .options .config,
        .quest.sheet.item.role .section .legendary-list .path .options .config {
          margin-right: 0.2rem; }
  .quest.sheet.item.role .section .path-list {
    padding: 0px;
    margin: 0px;
    align-content: center; }
    .quest.sheet.item.role .section .path-list .path {
      font-weight: 700;
      padding: 0.5rem;
      border: 1px solid #adb5bd;
      margin-bottom: 0.3rem; }
      .quest.sheet.item.role .section .path-list .path .options {
        justify-content: flex-end; }
        .quest.sheet.item.role .section .path-list .path .options .config,
        .quest.sheet.item.role .section .path-list .path .options .delete {
          flex: 0 1 auto; }
        .quest.sheet.item.role .section .path-list .path .options .config:hover,
        .quest.sheet.item.role .section .path-list .path .options .delete:hover {
          color: #f04828; }
        .quest.sheet.item.role .section .path-list .path .options .config {
          margin-right: 0.2rem; }

/* ----------------------------------------- */
/*  Path Styles                              */
/* ----------------------------------------- */
.quest.sheet.item.path .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.sheet.item.path img {
  flex: 0 1 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #adb5bd; }

.quest.sheet.item.path .item-header {
  align-content: center; }
  .quest.sheet.item.path .item-header .item-image,
  .quest.sheet.item.path .item-header .header {
    align-self: center; }
  .quest.sheet.item.path .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #EE5874;
    margin-top: 0.5rem; }

.quest.sheet.item.path .tooltip {
  flex: 0 1 auto; }
  .quest.sheet.item.path .tooltip .tooltiptext {
    top: -1.8rem;
    left: -6.2rem; }
    .quest.sheet.item.path .tooltip .tooltiptext ::after {
      top: 100%;
      left: 50%;
      margin-left: -0.4rem;
      border-width: 0.4rem;
      border-style: solid;
      border-color: #222831, transparent, transparent, transparent; }

.quest.sheet.item.path .section {
  margin-top: 0.4rem; }
  .quest.sheet.item.path .section h1.section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #EE5874;
    text-align: center;
    flex: 0 1 auto; }
  .quest.sheet.item.path .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.sheet.item.path .section .adder-abilities {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    flex: 0 1 0.8rem;
    background-color: #EE5874;
    border: 1px solid #EE5874;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    width: 16rem;
    border-radius: 0.3rem;
    align-self: center;
    margin-bottom: 0.5rem; }
  .quest.sheet.item.path .section .abilities-list {
    padding: 0px;
    margin: 0px;
    align-content: center; }
    .quest.sheet.item.path .section .abilities-list .ability {
      font-weight: 700;
      padding: 0.5rem;
      border: 1px solid #adb5bd;
      margin-bottom: 0.3rem; }
      .quest.sheet.item.path .section .abilities-list .ability .drag-bars {
        flex: 0 1 auto;
        margin-right: 0.5rem;
        color: #adb5bd; }
      .quest.sheet.item.path .section .abilities-list .ability .options {
        justify-content: flex-end; }
        .quest.sheet.item.path .section .abilities-list .ability .options .config,
        .quest.sheet.item.path .section .abilities-list .ability .options .delete {
          flex: 0 1 auto; }
        .quest.sheet.item.path .section .abilities-list .ability .options .config:hover,
        .quest.sheet.item.path .section .abilities-list .ability .options .delete:hover {
          color: #f04828; }
        .quest.sheet.item.path .section .abilities-list .ability .options .config {
          margin-right: 0.2rem; }

/* ----------------------------------------- */
/*  Gear Styles                              */
/* ----------------------------------------- */
.quest.sheet.item.gear .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.sheet.item.gear img {
  flex: 0 1 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #adb5bd; }

.quest.sheet.item.gear .item-header {
  align-content: center; }
  .quest.sheet.item.gear .item-header .item-image,
  .quest.sheet.item.gear .item-header .header {
    align-self: center; }
  .quest.sheet.item.gear .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #9b1d68;
    margin-top: 0.5rem; }

.quest.sheet.item.gear .section h1.section-header {
  text-align: center;
  border-bottom: 2px solid #9b1d68;
  margin-top: 0.5rem; }

.quest.sheet.item.gear .section .item-label {
  flex: 0 1 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 0.2rem; }

.quest.sheet.item.gear .section .field-group {
  margin-bottom: 0.4rem; }

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* Colors */
.sheet.actor.character .window-content {
  background: #eeeeee;
  line-height: 1.2rem;
  font-size: 1.1rem; }

.quest input,
.quest input[type="number"],
.quest input[type="text"],
.quest textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  background: #eeeeee;
  line-height: 1.2rem;
  border: 1px solid #adb5bd;
  border-radius: 3px; }

.quest input::placeholder, .quest textarea::placeholder {
  opacity: 0.6; }

.quest input[type="text"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828;
  border-radius: 0.2rem;
  border: 1px solid #adb5bd; }

.quest input[type="number"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828; }

.quest textarea:focus {
  outline: 2px solid #f04828; }

.quest .hide {
  display: none; }

.quest .tooltip {
  position: relative; }
  .quest .tooltip .tooltiptext {
    visibility: hidden;
    width: 12rem;
    background-color: #222831;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 99999;
    margin-left: 0.4rem;
    top: -1.6rem;
    padding: 0.2rem; }
  .quest .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0.4rem;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent #222831 transparent transparent; }

.quest .tooltip:hover .tooltiptext {
  visibility: visible; }

.quest button:hover {
  box-shadow: none; }

/* ----------------------------------------- */
/*  Chat Styles                              */
/* ----------------------------------------- */
.chat .legendary,
.chat-card .legendary {
  text-align: center; }
  .chat .legendary img,
  .chat-card .legendary img {
    border: none;
    width: 50%; }

/* ----------------------------------------- */
/*  Generic Roll Styles                      */
/* ----------------------------------------- */
.chat-card.generic-roll {
  text-align: center; }
  .chat-card.generic-roll .card-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700; }
  .chat-card.generic-roll .status {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700; }
  .chat-card.generic-roll .triumph {
    color: #e99d36;
    font-weight: 700; }
  .chat-card.generic-roll .success {
    color: #3D8F57;
    font-weight: 700; }
  .chat-card.generic-roll .tough-choice {
    color: #454f4e;
    font-weight: 700; }
  .chat-card.generic-roll .catastrophe {
    color: #f04828;
    font-weight: 700; }
  .chat-card.generic-roll .roll-total {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.9rem; }

/* ----------------------------------------- */
/*  Ability Card Styles                      */
/* ----------------------------------------- */
.chat.ability-card .ability-name {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center; }

.chat.ability-card .cost {
  flex: 0 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-right: 20px;
  padding-left: 10px;
  border-radius: 3px 0px 0px 3px;
  background: #000;
  color: #fff;
  height: 20px;
  line-height: 20px;
  position: relative;
  padding-right: 5px; }

.chat.ability-card .cost:after {
  content: "";
  float: right;
  position: absolute;
  top: 0;
  right: -11px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #000;
  border-style: solid;
  border-width: 10px 0px 10px 11px; }

.chat.ability-card .ability-info-range {
  flex: 0 0 75px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700; }

.chat.ability-card .ability-info-ranges {
  border-bottom: 1px solid #000; }

.chat.ability-card .row-header {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-top: 10px; }

.chat.ability-card .effect-ranges .ability-info-ranges:last-child {
  border-bottom: none; }

/* ----------------------------------------- */
/*  Ability Roll Styles                      */
/* ----------------------------------------- */
.chat.ability-roll {
  text-align: center; }
  .chat.ability-roll .ability-name {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: 2px solid #222831; }
  .chat.ability-roll .roll-total {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.9rem; }
  .chat.ability-roll .triumph {
    color: #e99d36;
    font-weight: 700; }
  .chat.ability-roll .success {
    color: #3D8F57;
    font-weight: 700; }
  .chat.ability-roll .tough-choice {
    color: #454f4e;
    font-weight: 700; }
  .chat.ability-roll .catastrophe {
    color: #f04828;
    font-weight: 700; }

/* ----------------------------------------- */
/*  App Styles                               */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* Colors */
.sheet.actor.character .window-content {
  background: #eeeeee;
  line-height: 1.2rem;
  font-size: 1.1rem; }

.quest input,
.quest input[type="number"],
.quest input[type="text"],
.quest textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  background: #eeeeee;
  line-height: 1.2rem;
  border: 1px solid #adb5bd;
  border-radius: 3px; }

.quest input::placeholder, .quest textarea::placeholder {
  opacity: 0.6; }

.quest input[type="text"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828;
  border-radius: 0.2rem;
  border: 1px solid #adb5bd; }

.quest input[type="number"]:focus {
  box-shadow: none;
  outline: 2px solid #f04828; }

.quest textarea:focus {
  outline: 2px solid #f04828; }

.quest .hide {
  display: none; }

.quest .tooltip {
  position: relative; }
  .quest .tooltip .tooltiptext {
    visibility: hidden;
    width: 12rem;
    background-color: #222831;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 99999;
    margin-left: 0.4rem;
    top: -1.6rem;
    padding: 0.2rem; }
  .quest .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -0.4rem;
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent #222831 transparent transparent; }

.quest .tooltip:hover .tooltiptext {
  visibility: visible; }

.quest button:hover {
  box-shadow: none; }

/* ----------------------------------------- */
/*  Effects Styles                           */
/* ----------------------------------------- */
.quest.effect-adder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.effect-adder img {
  flex: 0 1 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #adb5bd; }

.quest.effect-adder .effects .item-header {
  align-content: center; }
  .quest.effect-adder .effects .item-header .item-image,
  .quest.effect-adder .effects .item-header .header {
    align-self: center; }
  .quest.effect-adder .effects .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #804D7F; }

.quest.effect-adder .effects .submit,
.quest.effect-adder .effects .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #804D7F;
  border: 1px solid #804D7F; }

.quest.effect-adder .effects .submit:hover,
.quest.effect-adder .effects .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.effect-adder .effects .section {
  margin-top: 0.4rem; }
  .quest.effect-adder .effects .section .section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #804D7F;
    text-align: center; }
  .quest.effect-adder .effects .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.effect-adder .effects .section .tooltip {
    flex: 0 1 auto; }
    .quest.effect-adder .effects .section .tooltip .tooltiptext {
      top: -1.8rem;
      left: -6.2rem; }
      .quest.effect-adder .effects .section .tooltip .tooltiptext ::after {
        top: 100%;
        left: 50%;
        margin-left: -0.4rem;
        border-width: 0.4rem;
        border-style: solid;
        border-color: #222831, transparent, transparent, transparent; }
  .quest.effect-adder .effects .section input[type="checkbox"] {
    height: auto; }
  .quest.effect-adder .effects .section textarea:focus,
  .quest.effect-adder .effects .section input[type="checkbox"]:focus {
    outline: 2px solid #f04828; }
  .quest.effect-adder .effects .section select:focus {
    box-shadow: none;
    outline: 2px solid #f04828; }
  .quest.effect-adder .effects .section .adder-range {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    flex: 0 1 0.8rem;
    background-color: #804D7F;
    border: 1px solid #804D7F;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    width: 16rem;
    border-radius: 0.3rem;
    align-self: center;
    margin-bottom: 0.5rem; }
  .quest.effect-adder .effects .section .range-list {
    padding: 0px;
    margin: 0px;
    align-content: center; }
    .quest.effect-adder .effects .section .range-list .range {
      font-weight: 700;
      padding: 0.5rem;
      border: 1px solid #adb5bd;
      margin-bottom: 0.3rem; }
      .quest.effect-adder .effects .section .range-list .range .options {
        justify-content: flex-end; }
        .quest.effect-adder .effects .section .range-list .range .options .config,
        .quest.effect-adder .effects .section .range-list .range .options .delete {
          flex: 0 1 auto; }
        .quest.effect-adder .effects .section .range-list .range .options .config:hover,
        .quest.effect-adder .effects .section .range-list .range .options .delete:hover {
          color: #f04828; }
        .quest.effect-adder .effects .section .range-list .range .options .config {
          margin-right: 0.2rem; }

/* ----------------------------------------- */
/*  Ranges Styles                            */
/* ----------------------------------------- */
.quest.range-adder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.range-adder .ranges .item-header {
  align-content: center; }
  .quest.range-adder .ranges .item-header .item-image,
  .quest.range-adder .ranges .item-header .header {
    align-self: center; }
  .quest.range-adder .ranges .item-header h1.header {
    text-align: center;
    border-bottom: 2px solid #e99d36; }

.quest.range-adder .ranges .submit,
.quest.range-adder .ranges .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #e99d36;
  border: 1px solid #e99d36; }

.quest.range-adder .ranges .submit:hover,
.quest.range-adder .ranges .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.range-adder .ranges .section {
  margin-top: 0.4rem; }
  .quest.range-adder .ranges .section .section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #e99d36;
    text-align: center; }
  .quest.range-adder .ranges .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.range-adder .ranges .section .tooltip {
    flex: 0 1 auto; }
    .quest.range-adder .ranges .section .tooltip .tooltiptext {
      top: -1.8rem;
      left: -6.2rem; }
      .quest.range-adder .ranges .section .tooltip .tooltiptext ::after {
        top: 100%;
        left: 50%;
        margin-left: -0.4rem;
        border-width: 0.4rem;
        border-style: solid;
        border-color: #222831, transparent, transparent, transparent; }
  .quest.range-adder .ranges .section .seperator {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    flex: 0 1 auto;
    margin: 0px 0.4rem;
    color: #e99d36; }
  .quest.range-adder .ranges .section .min-max,
  .quest.range-adder .ranges .section .field-group {
    align-items: center; }
  .quest.range-adder .ranges .section input[type="checkbox"] {
    height: auto; }
  .quest.range-adder .ranges .section textarea:focus,
  .quest.range-adder .ranges .section input[type="checkbox"]:focus {
    outline: 2px solid #f04828; }
  .quest.range-adder .ranges .section select:focus {
    box-shadow: none;
    outline: 2px solid #f04828; }
  .quest.range-adder .ranges .section .adder-range {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    flex: 0 1 0.8rem;
    background-color: #e99d36;
    border: 1px solid #e99d36;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    width: 16rem;
    border-radius: 0.3rem;
    align-self: center;
    margin-bottom: 0.5rem; }
  .quest.range-adder .ranges .section .range-list {
    padding: 0px;
    margin: 0px;
    align-content: center; }
    .quest.range-adder .ranges .section .range-list .range {
      font-weight: 700;
      padding: 0.5rem;
      border: 1px solid #adb5bd;
      margin-bottom: 0.3rem; }
      .quest.range-adder .ranges .section .range-list .range .options {
        justify-content: flex-end; }
        .quest.range-adder .ranges .section .range-list .range .options .config,
        .quest.range-adder .ranges .section .range-list .range .options .delete {
          flex: 0 1 auto; }
        .quest.range-adder .ranges .section .range-list .range .options .config:hover,
        .quest.range-adder .ranges .section .range-list .range .options .delete:hover {
          color: #f04828; }
        .quest.range-adder .ranges .section .range-list .range .options .config {
          margin-right: 0.2rem; }

/* ----------------------------------------- */
/*  Path Adder Styles                        */
/* ----------------------------------------- */
.quest.path-adder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.path-adder .submit,
.quest.path-adder .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #EE5874;
  border: 1px solid #EE5874; }

.quest.path-adder .submit:hover,
.quest.path-adder .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.path-adder .section {
  margin-top: 0.4rem; }
  .quest.path-adder .section .section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #EE5874;
    text-align: center; }

.quest.path-adder .item-label {
  flex: 0 1 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 0.2rem; }

.quest.path-adder .path-list {
  list-style: none;
  padding: 0px; }

/* ----------------------------------------- */
/*  Legendary Styles                         */
/* ----------------------------------------- */
.quest.legendary-adder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.legendary-adder .submit,
.quest.legendary-adder .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #3D8F57;
  border: 1px solid #3D8F57; }

.quest.legendary-adder .submit:hover,
.quest.legendary-adder .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.legendary-adder .section {
  margin-top: 0.4rem; }
  .quest.legendary-adder .section .section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #3D8F57;
    text-align: center; }
  .quest.legendary-adder .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.legendary-adder .section .legendary-list {
    list-style: none;
    padding: 0px; }

/* ----------------------------------------- */
/*  Path Ability Styles                      */
/* ----------------------------------------- */
.quest.path-ability-adder .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.path-ability-adder .submit,
.quest.path-ability-adder .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #3D8F57;
  border: 1px solid #3D8F57; }

.quest.path-ability-adder .submit:hover,
.quest.path-ability-adder .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.path-ability-adder .section {
  margin-top: 0.4rem; }
  .quest.path-ability-adder .section .section-header {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-bottom: 2px solid #3D8F57;
    text-align: center; }
  .quest.path-ability-adder .section .item-label {
    flex: 0 1 auto;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 0.2rem; }
  .quest.path-ability-adder .section .ability-list {
    list-style: none;
    padding: 0px; }

/* ----------------------------------------- */
/*  Role Selector Styles                     */
/* ----------------------------------------- */
.quest.role-selector .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.role-selector .submit,
.quest.role-selector .cancel {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #454f4e;
  border: 1px solid #454f4e; }

.quest.role-selector .submit:hover,
.quest.role-selector .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

.quest.role-selector .options {
  justify-content: flex-end; }
  .quest.role-selector .options .role-info {
    flex: 0 1 auto; }
    .quest.role-selector .options .role-info :hover {
      color: #f04828; }

.quest.role-selector .role-list {
  list-style: none;
  padding: 0px; }
  .quest.role-selector .role-list label {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    align-content: center; }

.quest.role-selector .disabled {
  color: grey; }

/* ----------------------------------------- */
/*  Role Info Styles                         */
/* ----------------------------------------- */
.quest.role-info .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.role-info .role-header .role-name {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 2px solid #454f4e;
  text-align: center; }

.quest.role-info .role-header .send-to-chat-info {
  text-align: center; }
  .quest.role-info .role-header .send-to-chat-info :hover {
    color: #f04828; }

.quest.role-info .description {
  font-size: 1rem; }

/* ----------------------------------------- */
/*  Ability Selector Styles                  */
/* ----------------------------------------- */
.quest.ability-selector .window-content, .quest.full-ability-selector .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.ability-selector #ability-selector, .quest.full-ability-selector #ability-selector {
  min-height: 400px; }

.quest.ability-selector .abilities, .quest.full-ability-selector .abilities {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px; }

.quest.ability-selector label, .quest.full-ability-selector label {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  align-content: center; }

.quest.ability-selector ol, .quest.full-ability-selector ol {
  padding: 0px; }

.quest.ability-selector .cost, .quest.full-ability-selector .cost {
  flex: 0 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-right: 20px;
  padding-left: 10px;
  border-radius: 3px 0px 0px 3px;
  background: #222831;
  color: #fff;
  height: 20px;
  line-height: 1rem;
  position: relative;
  padding-right: 5px;
  width: 1.8rem; }

.quest.ability-selector .cost:after, .quest.full-ability-selector .cost:after {
  content: "";
  float: right;
  position: absolute;
  top: 0;
  right: -11px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #222831;
  border-style: solid;
  border-width: 10px 0px 10px 11px; }

.quest.ability-selector .ability-info, .quest.full-ability-selector .ability-info {
  text-align: right; }

.quest.ability-selector .send-to-chat-info, .quest.full-ability-selector .send-to-chat-info {
  text-align: center; }
  .quest.ability-selector .send-to-chat-info :hover, .quest.full-ability-selector .send-to-chat-info :hover {
    color: #f04828; }

.quest.ability-selector .role-name, .quest.full-ability-selector .role-name {
  font-size: 1.1rem;
  color: #3D8F57;
  border-bottom: 2px solid #3D8F57; }

.quest.ability-selector .submit,
.quest.ability-selector .cancel, .quest.full-ability-selector .submit,
.quest.full-ability-selector .cancel {
  margin: 0.3rem 0px;
  color: #fff;
  background-color: #3D8F57;
  border: 1px solid #3D8F57; }

.quest.ability-selector .submit:hover,
.quest.ability-selector .cancel:hover, .quest.full-ability-selector .submit:hover,
.quest.full-ability-selector .cancel:hover {
  background-color: #f04828;
  border: 1px solid #f04828; }

/* ----------------------------------------- */
/*  Ability Info Styles                      */
/* ----------------------------------------- */
.quest.ability-info .window-content {
  background-color: #eeeeee;
  background-image: none; }

.quest.ability-info .ability-header .ability-description {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 2px solid #3D8F57;
  text-align: center; }

.quest.ability-info .send-to-chat-info {
  text-align: center; }
  .quest.ability-info .send-to-chat-info :hover {
    color: #f04828; }

.quest.ability-info .section {
  font-size: 1rem;
  margin-top: 0.4rem; }

.quest.ability-info .row-header {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 2px solid #3D8F57;
  margin-top: 0.3rem;
  text-align: center; }

.quest.ability-info .ability-info-range {
  flex: 0 1 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-right: 0.3rem; }

.quest.ability-info .effect-header .effect-name {
  font-size: 1.1rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #3D8F57;
  text-align: center; }

.quest.ability-info .effect-header .cost {
  text-align: center;
  font-size: 1rem; }

.quest.ability-info .effect-description {
  flex: 0 0 85%; }

.quest.ability-info .effect-ranges > .ability-info-ranges {
  border-bottom: 1px solid #adb5bd;
  padding: 0.3rem 0px; }

.quest.ability-info .effect-ranges > .ability-info-ranges:last-child {
  border-bottom: 0px; }

.quest.ability-info .ability-effect {
  border: 2px solid #3D8F57;
  padding: 0.2rem;
  border-radius: 0.4rem;
  margin-top: 0.4rem; }
  .quest.ability-info .ability-effect .ability {
    margin-bottom: 0.3rem; }
