/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Actor Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Ovo:400");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700");
.quest.character, .quest.item {
  font-family: "Ovo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; }

.quest.character img.profile {
  flex: 0 0 150px;
  max-width: 150px;
  height: 150px; }

/* ----------------------------------------- */
/*  Character Styles                         */
/* ----------------------------------------- */
.quest.character {
  min-width: 830px;
  min-height: 690px; }
  .quest.character .quest-sheet > * {
    flex: 1 100%; }
  .quest.character .sheet-head, .quest.character .sheet-stats, .quest.character .sheet-navigation {
    flex: 0 0 30px; }
  .quest.character .sheet-madlibs {
    flex: 1.75 1 0;
    order: 1;
    border-right: 2px groove;
    padding-right: 5px; }
  .quest.character .sheet-stats {
    border-bottom: 2px groove;
    margin-bottom: 5px; }
  .quest.character .label {
    max-width: fit-content; }
  .quest.character .hp, .quest.character .ap {
    background: none;
    min-width: 20px;
    height: 24px;
    border: 1px solid #7a7971;
    border-radius: 3px; }
  .quest.character .sheet-abilities {
    flex: 1 1 0;
    order: 2; }
  .quest.character ul .draggable {
    will-change: transform;
    list-style-type: none; }
  .quest.character .madlib-upper {
    margin-left: 10px; }
  .quest.character .madlib-lower {
    margin-top: 5px; }
  .quest.character .madlib-section {
    flex: 0 0 150px; }
  .quest.character .char {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    padding: 10px; }
  .quest.character .char.name, .quest.character .char.pronouns, .quest.character .char.heritage, .quest.character .char.flaw, .quest.character .char.movement, .quest.character .char.community {
    width: 65%; }
  .quest.character .char.age, .quest.character .char.height, .quest.character .char.feature, .quest.character .char.role, .quest.character .char.style {
    width: 40%; }
  .quest.character .char.role {
    width: 65%; }
  .quest.character .char.ideal {
    width: 80%; }
  .quest.character .char.home {
    width: 55%; }
  .quest.character .roll-generic {
    flex: 0 0 auto; }
    .quest.character .roll-generic :hover {
      color: red; }
  .quest.character .label {
    flex: 0 0 auto;
    margin-right: 10px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700; }
  .quest.character .label.actionpoints {
    margin-left: 10px; }

/* ----------------------------------------- */
/*  Inventory Styles                         */
/* ----------------------------------------- */
.quest.character .content ul#inventory-list {
  margin: 0px;
  padding: 0px; }

.quest.character .content .inventory-item {
  margin-bottom: 5px; }
  .quest.character .content .inventory-item :last-child {
    margin-bottom: 0px; }

.quest.character .content .inventory-item > .item-slot {
  flex: 0 0 auto;
  padding: 5px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  margin: 0px 5px 5px 5px;
  height: 28px;
  width: 28px;
  line-height: 18px;
  text-align: center; }

.quest.character .content .inventory-item > .inventory-value {
  flex: 0 0 75%; }

.quest.character .content .inventory-item > .item-delete {
  flex: 0 0 auto;
  margin: 0px 5px; }

.quest.character .content .sort {
  text-align: center; }

/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
.quest.character, .quest.item {
  font-family: "Ovo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; }

.quest.character img.profile {
  flex: 0 0 150px;
  max-width: 150px;
  height: 150px; }

.quest.item .item-header {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  flex: 0 0 auto; }

.quest.item h1 > input[type="text"] {
  height: 30px; }

.quest.item input[type="number"] {
  background: none;
  min-width: 20px;
  height: 24px;
  border: 1px solid #7a7971;
  border-radius: 3px; }

.quest.item .label {
  flex: 0 0 auto;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700; }

.quest.item .item-group {
  margin-top: 10px;
  flex: 0 0 auto; }

.quest.item .maximum,
.quest.item .minimum {
  margin-left: 10px; }

.quest.item .explanation {
  flex: 0 0 auto; }

.quest.item .item-delete:hover {
  color: red; }

.quest.item .adder {
  padding: 10px;
  line-height: 30px;
  border: 1px solid #000;
  list-style: dot;
  flex: 0 0 30px; }

.quest.item .hover {
  box-shadow: 0px 0px 5px red; }

/* ----------------------------------------- */
/*  Range Styles                             */
/* ----------------------------------------- */
.quest.item.range {
  min-width: 580px;
  min-height: 440px; }
  .quest.item.range .range-value {
    margin-left: 10px; }
  .quest.item.range .minimum,
  .quest.item.range .maximum {
    margin-left: 0px;
    padding-left: 10px; }

/* ----------------------------------------- */
/*  Effect Styles                            */
/* ----------------------------------------- */
.quest.item.effect {
  min-width: 460px;
  min-height: 600px; }
  .quest.item.effect .label {
    margin-right: 10px; }
  .quest.item.effect .item-ranges {
    padding: 0px 0px 0px 0px;
    margin-top: -10px; }
  .quest.item.effect .options {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black; }
  .quest.item.effect .description, .quest.item.effect .chat {
    flex: 0 0 auto; }

/* ----------------------------------------- */
/*  Ability Styles                           */
/* ----------------------------------------- */
.quest.item.ability {
  min-width: 460px;
  min-height: 520px; }
  .quest.item.ability .ability-header {
    flex: 0 0 auto; }
  .quest.item.ability .label {
    margin-right: 10px; }
  .quest.item.ability ul.item-effects {
    padding: 0px 0px 0px 0px;
    margin-top: -10px; }
  .quest.item.ability .adder {
    padding: 10px;
    line-height: 30px;
    border: 1px solid #000;
    list-style: dot;
    flex: 0 0 30px; }
  .quest.item.ability .effect {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black; }
  .quest.item.ability .hover {
    box-shadow: 0px 0px 5px red; }
  .quest.item.ability .options {
    text-align: right; }

/* ----------------------------------------- */
/*  Tree Styles                              */
/* ----------------------------------------- */
.quest.item.tree {
  min-width: 460px;
  min-height: 520px; }
  .quest.item.tree .tree-header {
    flex: 0 0 auto; }
  .quest.item.tree .label {
    margin-right: 10px; }
  .quest.item.tree ul.item-abilities {
    padding: 0px 0px 0px 0px; }
  .quest.item.tree .options {
    text-align: right; }
  .quest.item.tree .ability {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
    cursor: move; }
  .quest.item.tree .ability.dragging {
    opacity: 0.5; }

/* ----------------------------------------- */
/*  Role Styles                           */
/* ----------------------------------------- */
.quest.item.role {
  min-width: 460px;
  min-height: 520px; }
  .quest.item.role .role-header {
    flex: 0 0 auto; }
  .quest.item.role .label {
    margin-right: 10px; }
  .quest.item.role ul.item-trees {
    padding: 0px 0px 0px 0px; }
  .quest.item.role .options {
    text-align: right; }
  .quest.item.role .description, .quest.item.role .chat {
    flex: 0 0 auto; }
  .quest.item.role .tree {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black; }
